[2011-10-17 09:49] mbknor opened #1 "use existing setter instead of direct property-access"
I have a case where I need to override/modify the value loaded from db.
I want to do this in a setter but the current version of sql2o modifies the property directly.

[2011-10-17 20:05] #1 closed, assigned to aaberg

[2011-10-18 07:05] mbknor opened #2 "NPE - should instead tell what the problem is"
Got the following problem with version Sql2o-0.2.8.jar

[code]

Caused by: java.lang.NullPointerException
        at org.sql2o.Query.setField(Query.java:201)
        at org.sql2o.Query.executeAndFetch(Query.java:271)
        ... 11 more

[2011-10-29 17:53] #2 closed, assigned to nobody

[2011-12-20 11:24] aaberg opened #3 "connection not closed correctly on execute batch"
If an exception occures in the database, while executing batch update, the database connection is not closed correctly.

[2011-12-20 12:20] #3 closed, assigned to nobody

[2011-12-20 12:24] aaberg opened #4 "NPE when typing wrong column name in row.get(...)"
Also, column name should not be case sensitive, if sql2o not is in casesensitive property is false.

[2011-12-20 12:51] #4 closed, assigned to nobody

[2011-12-20 14:15] tha022 opened #5 "Crash when setting int values on beans"
crashes if the POJO has a int field where we try to set a null value

[code]

[2012-03-19 22:35] #5 closed, assigned to nobody

[2012-04-27 10:39] aaberg opened #7 "Date parameter with null value causes an exception, when using db2 quirk mode."

[2012-05-01 11:25] #7 closed, assigned to aaberg

[2012-08-28 11:03] mbknor opened #8 "Cannot convert type class oracle.sql.TIMESTAMP to java.util.Date"
Caused by: org.sql2o.converters.ConverterException: Cannot convert type class oracle.sql.TIMESTAMP to java.util.Date
    at org.sql2o.converters.DateConverter.convert(DateConverter.java:25)
    at org.sql2o.converters.DateConverter.convert(DateConverter.java:14)
    at org.sql2o.reflection.Pojo.setProperty(Pojo.java:84)

version: 1.0.2

[2012-12-17 08:50] aaberg opened #9 "Columns with alias does not map correctly when using HSQLDB"
When running a select query with column labels (aliases) in HSQLDB, sql2o is still trying to use column names when mapping to java classes. This is caused by a behavior in HSQLDB, that is different from most other databases. the ResultSet.getColumnName() method will still return the real column name, even though a label was used. To get the label with HSQLDB, ResultSet.getColumnLabel().

Until fix

[2012-12-19 23:06] #9 closed, assigned to aaberg

[2013-01-17 23:12] aaberg opened #10 "select statements doesn't work on PostgreSQL"
Whe using PostgreSQL, all SELECT statements will fail with message:
org.postgresql.util.PSQLException: ERROR: syntax error at or near "RETURNING"

Seems to be related to [this issue](http://www.postgresql.org/message-id/4BD196B4.3040607@smilehouse.com)

[2013-01-22 22:13] #10 closed, assigned to nobody

[2013-02-12 17:42] aaberg opened #11 "NullPointerException in Query.addParameter()"
Some of the Query.addParameter() overloads will throw a NullPointerException if the parameter value is set to NULL.

[2013-02-12 21:15] #11 closed, assigned to aaberg

[2013-02-20 16:16] #8 closed, assigned to nobody

[2013-05-03 10:42] mbknor opened #12 "Problem reading CLOB values from Oracle"
I try to map an Oracle CLOB column to a String.
Sql2o called toString on the Clob-object and gets a string ala "com.oracle.Clob@6756767".

I worked around the problem like this:

[code]

and

[code]

[2013-06-01 21:46] #12 closed, assigned to nobody

[2013-06-27 02:47] xiaoping1006 opened #14 "oracle statement.getStatement().getGeneratedKeys"
Query class executeUpdate()
   this.connection.setKeys(this.returnGeneratedKeys ?statement.getStatement().getGeneratedKeys() : null);

java.sql.SQLException: 不允许的操作

[2013-06-27 07:58] #14 closed, assigned to nobody

[2013-09-22 16:52] jsnoriegam opened #19 "New feature?: Bind a bean to an Insert or Update query"
I know this is not a ORM and that's what is good about this project, but just as you can map a bean from a select result, i think it would be good to bind a bean to an update or insert query...

Something like .createQuery("UPDATE clients SET date = :date, name = :name, regn = :regn, active = :active WHERE id = :id").bind(client).executeUpdate();

bindig all the attributes of client as paramaters

[2013-09-23 20:58] #19 closed, assigned to nobody

[2013-10-24 21:09] aaberg opened #22 "TimeConverter"
There should be a TimeConverter.

[2013-10-31 18:03] ryancarlson opened #24 "Built-in Column Mappings"
Have you all considered supporting built-in column mappings?  That is a setting which would allow POJOs with a field named "myField" to map to a database column called "MY_FIELD" ?

I love this project and think it has a lot of promise for others like me who detest Hibernate.  I understand Sql2o is not meant to be an ORM and not generating, but adding the same column mappings on every single query

[2013-11-11 17:51] ryancarlson opened #29 "Time is dropped when saving a joda DateTime instance"
The addParameter() method for DateTime converts the value to a java.util.Date which then is converted to java.sql.Date, and the time factor is lost.

Joda DateTime should expect to carry a time value through to the database.  Joda's LocalDate should be used when saving just a date without any time.

[2013-11-19 06:08] liwei6797 opened #30 "Oracle11g: executeBatch has exception"
It's all right  when used mysql. But throws exceptions when uses oracle 11.2.0.1. The driver is ojdbc6.jar. It's normal when I used PreparedStatement.

Caused by: java.lang.ArrayIndexOutOfBoundsException
    at java.lang.System.arraycopy(Native Method)
    at oracle.jdbc.driver.T4CRowidAccessor.unmarshalOneRow(T4CRowidAccessor.java:205)
    at oracle.jdbc.driver.T4C8Oall.readRXD(T4C8Oall.java:648)

[2013-11-21 06:42] #30 closed, assigned to nobody

[2013-12-18 08:39] #22 closed, assigned to aaberg

[2013-12-18 15:36] markovar opened #31 "Getting Output parameters from a stored procedure that returns a query"
I did this test on SQL Server but I asumme it will happend on Oracle and other relational databases.

If we have a stored procedure that have output parameters and it returns a set of data, there is no way to get the content of the parameters and the Cursor returned by the Stored procedure.

Example:

The following stored procedure have two output parameters and inside has a Select Statement:

CRE

[2013-12-18 23:10] aaberg opened #32 "Row.getObject() should use Converters"
Row.getObject method, should have an overload that uses the registered converters.

[2014-01-02 22:02] #29 closed, assigned to aaberg

[2014-01-03 20:01] #32 closed, assigned to aaberg

[2014-01-03 20:14] #24 closed, assigned to nobody

[2014-01-14 07:29] aaberg opened #36 "executeScalarList should use converters"
executeScalarList should use registered converters.

[2014-01-18 10:46] aaberg opened #37 "Sql2o should not be dependend on slf4j dependency"
Instead it should use the dependency if available or fall back to java.util.Logger if not.

[2014-01-19 10:29] aaberg opened #38 "Sql2o should not be dependend on jodatime"
instead, it should use jodatime if available.

[2014-01-21 13:12] aldenquimby opened #40 "Query.executeAndFetchFirst should not read all results"
Ideally Query.executeAndFetchFirst would return after reading the first row from ResultSet, instead of reading the whole thing into a list and returning the first item.

This could be handled as follows:
1. make a new method "executeAndFetchIterable" that returns Iterable<T> instead of List<T>
2. have "executeAndFetch" call the iterable method and flush the result to List<T>
3. have "executeAndFet

[2014-01-21 14:21] aaberg opened #41 "when using the addParameter(String, Date) method, db2 will fail when column is date datatype"
when using the addParameter(String, Date) method, db2 will fail when column is date datatype

[2014-01-21 14:32] #41 closed, assigned to aaberg

[2014-01-23 15:28] #40 closed, assigned to nobody

[2014-01-30 20:13] aldenquimby opened #44 "Move to Maven Central Repository"
Is there a reason sql2o is on your own maven repo and not the central repo?

[2014-02-03 21:34] #44 closed, assigned to nobody

[2014-02-08 23:10] #36 closed, assigned to aldenquimby

[2014-02-09 00:45] #37 closed, assigned to aaberg

[2014-02-09 10:37] #38 closed, assigned to aldenquimby

[2014-02-11 21:35] aaberg opened #49 "There should be an executeAndFetchLazyTable method"
Or maybe the name should be `executeAndFetchTableLazy`?
Or `executeAndMap`?
Or maybe an overload of the `executeAndFetchLazy` with no parameters?

Either way, it should return a `ResultSetIterable<Row>`, or something similar.

[2014-02-14 23:01] #49 closed, assigned to aldenquimby

[2014-02-14 23:41] aaberg opened #52 "It should be possible to run multiple queries in a connection"
Sql2o is opening and closing the connection for every statement (Except when running in a transaction).
It should be possible to run multiple statements on the same connection

[2014-02-15 11:30] #52 closed, assigned to aaberg

[2014-02-27 13:35] aaberg opened #55 "Query.bind() method doesn't include methods from subclasses"
If you have a base model class:

[code]

And a class that extends it:

[code]

The following will fail:

[code]

It fails because properties from MyBasePojo are not binded. Only properties declared in the top-level class are binded.

[2014-02-28 10:34] dmex38 opened #56 "InitialContext never closed in case of Exception in Sql2o class"
In Sql2o classe, I found a little mistake

[code]

InitialContext context = new InitialContext();  =>   ctx = new InitialContext();

Your project is great, simple and cool :-)

dmex38

[2014-03-14 09:11] #56 closed, assigned to aaberg

[2014-03-29 23:51] aldenquimby opened #58 "JodaTimeConverter and UTC"
Currently `JodaTimeConverter` does this:

[code]

My DATETIMEs in mysql are stored in UTC, and my JVM default timezone is EST. Because of this, the Joda DateTime being returned is off. Joda is treating `val` as EST (my JVM timezone), and then converting it to UTC by shifting it based on my local timezone.

This gives me the desired result:

[code]

Should this be the default, or should I just writ

[2014-03-30 14:33] #58 closed, assigned to nobody

[2014-04-03 16:13] ghost opened #59 "Bug in inserting date time in mysql, postgres"
When I use sql2o to insert date time in a DB column of type timestamp it is only inserting date and not the time.

[code]

The create time column gets a value as: 2014-04-02 00:00:00.0

Same thing if I do via Spring jdbctemplate or JDBI gets value as: 2014-04-02 17:43:44.0

It seems sql2o is only inserting date component and dropping the time.

This seems to be the issue with Mysql 5.5 and Postgre

[2014-04-03 19:22] #59 closed, assigned to aldenquimby

[2014-04-04 21:57] dimzon opened #62 "Some ideas"
**sorry for my poor english**

I propose you to use ReflectASM or something like it for faster object creation and property assignment
1) convert FieldSetter to interface and use factory to obtain it
2) use ServiceLoader api to obtain FieldSetter factory failing back to yor current reflection-based implementation
3) allow to pass FieldSetter factory to sql2o objects (to override sql2o default beha

[2014-04-04 23:49] ghost opened #63 "Support for Mapping arbitrary SQL results to a List of Map"
I understand that Table class provides a generic way of accessing results of an arbitrary SQL but sometimes it is convenient to just get a List<Map<String, Object>>. For example if you need to pass this to another API. Embedding code of sql2o outside persistence layer may not be a good idea. It could be achieved by either providing a method that internally does this translation of Table into this

[2014-04-04 23:54] ghost opened #64 "Async Execution of SQL"
Sometimes in a batch mode it is nice to do an asynchronous execution of data. Traditionally It could be achieved by spawning a thread manually or using executor service. However if you are doing this a lot in your application it ends up adding a lot of code bloat.

Apache Dbutils 2.0 actually started this but it doesn't look like Dbutils is that much active anymore. However for an up and coming li

[2014-04-05 14:25] aldenquimby opened #65 "Bidirectional converters"
Right now, converters are used when setting a property in java on the way out of sql. I think they should go both directions, because for any custom converters, the reverse logic is usually needed to convert a java property into the appropriate format for inserting into sql.

For example, if I had a field on a POJO of type `java.time.Year` (I use java 8), and a corresponding `INT` column in the da

[2014-04-06 14:02] aaberg opened #68 "PojoMetadata cache is not thread-safe"
As pointed out by dimzon in pull request #67

The `initialize` method initializes and fills the cache in a non-threadsafe way

[2014-04-06 20:00] dimzon opened #71 "ResultSetHandler<T> abstraction"
ResultSetHandler<T> from apache db utils is a good api separation concept.
at one side you can provide your own hand-coded implementation
at other side you can use sql2o RS->POJO code
at third side you can write your own generic code
so I propose to add ResultSetHandler<T> interface and ResultSetHandlerFactory interface.  Default ResultSetHandlerFactory implementation will use sql2o RS->POJO code.

[2014-04-06 20:38] dimzon opened #72 "tricks: passing arrays to PreparedStatement"
this is my know-how :) represent array as XML string and pass as CLOB parameter
Your SQL code must expect XML - most of databases have XML-to-TABLE functions

[2014-04-06 21:04] dimzon opened #73 "UUID dual-way representation problem"
MSSQL have UNIQUEIDENTIFIER type
ORACLE use RAW[16]
JDBC in/out as byte array

the problem is UUID is not just 16 bytes - it is
DWORDDWORD-WORD-WORD-WORD-WORDDWORDDWORD
so for  MSSQL you must pass|recieve it in little-endian...
ORACLE at other side just store it as RAW data so you doesn't need to play with endianess

[2014-04-06 21:55] #63 closed, assigned to aldenquimby

[2014-04-06 22:02] #68 closed, assigned to aaberg

[2014-04-06 22:17] dimzon opened #74 "how to resync my git with aabergs one"
I'm newbie with GIT
I want to reset/resync my fork to current @aaberg repository (to get @aldenquimby changes)

[2014-04-06 22:27] #74 closed, assigned to nobody

[2014-04-07 01:13] dimzon opened #76 "wrong warmup in perfomance test"
AFAIK Oracle HotSpot can unload JIT-generated code since it become "cold". You must warmup each method just before time measurement.

[2014-04-07 06:14] dimzon opened #77 "setString vs setNString / getString vs getNString"
any proposed way control this?
ResultSet.getObject and PrepatredStatement.setObject don't enought :(

maybe instead of ResultSet.getObject->Converter.convert->Pojo.setProperty You need something like Extractor.extractValue(ResultSet)->Pojo.setProperty?

this will also solve ugly workaround for Oracle timestamp?

[2014-04-07 19:31] dimzon opened #78 "changes breaking compatibility"
[code]
this properties looks like common but are related to **concrete** ResultSetHandlerFactory implementation... I propose to make able to change whole ResultSetHandClerFactory implementation. The default one will have those properties so you can cast to DefaultResultFactory class and set them...

Or according   GoF patterns this settings can be more generic as ```PropertyBindingStrategy``` api.

[2014-04-07 20:07] dimzon opened #79 "neat way to pass a query"
https://github.com/EtnaSoftwareSystems/ormia

[code]

we can implement this in sql2o using already existing infrastructure

[2014-04-07 20:59] #65 closed, assigned to aldenquimby

[2014-04-07 21:06] #72 closed, assigned to aldenquimby

[2014-04-08 11:33] dimzon opened #80 "Query.bind implementation && behavior"
https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/Query.java#L219
1. getDeclaredMethods - this means inheritance not work
2. absent **static** modifier check check for static modifier (is it "as designed" to allow static bean properties can be added to  Query params?
3. absent **private** modifier check so adding a private property to bean will cause runtime exception (keep

[2014-04-08 19:52] dimzon opened #81 "any reason to NOT cache PojoMetadata"
please tell me why is possible to NOT cache it

[2014-04-08 20:04] dimzon opened #82 "Quirks re-visited"
I think quirks must be not just database-related but "application"-related.
Different projects have different coding|naming standarts|convections (different column naming scheme). Different projects have different type standarts|convections (VARCHAR vs NVARCHAR, CLOB vs NCLOB).

We need a way to tweak it once and use project-wide

[2014-04-08 20:26] dimzon opened #83 "Proposed new API design principles"
I want to propose to re-design new (2.0) release version architecture|api using following principles
1.  Separation of Concerns - each component must solve 1 concrete task, every component can be replaced by custom implementation
2.  Using well-known GoF patterns instead self-made solutions (for example PojoMetadata is awful, it must be separated by PojoMetadataProvider && PojoMetadata)
3.  Must n

[2014-04-08 20:59] dimzon opened #84 "SqlQueryString processing with parameter substitution"
In my close-source ORM I do not just use ? for parameter, let me describe why...
the problem is - transparency.
I believe for query `SELECT ?` ResultSet column type MUST match parameter type.
Unfortunally this is not true for most DBs. That's why my "Quirks" analogue have `String escapeTypecast(int sqlType)` method. So `SELECT @paramName` after processing looks like `SELECT (CAST ? AS TIMESTAMP)`.

[2014-04-08 21:16] #81 closed, assigned to aaberg

[2014-04-08 21:18] #55 closed, assigned to dimzon

[2014-04-08 21:30] #62 closed, assigned to nobody

[2014-04-08 21:39] aaberg opened #86 "Missing unit testing"
We are missing test-coverage for the reflection setter classes:
- org.sql2o.reflection.FieldSetter
- org.sql2o.reflection.MethodSetter
- org.sql2o.reflection.ReflectionFieldSetterFactory
- org.sql2o.reflection.ReflectionMethodSetterFactory
- org.sql2o.reflection.ReflectionObjectConstructorFactory

[2014-04-08 23:10] dimzon opened #88 "Supporting different JVM"
Need some information about wich JVM we want|must support.
The problem is perfomance. every JVM will work via Reflection but _premium_ suport means fastest possible way for concrete JVM...
I believe Oracle HotSpot | OpenJDK | IMB J9 must be supported without compromises...

How about DalvikVM? JRockit?

[2014-04-09 00:25] dimzon opened #89 "Transaction management"
I'm a big fun of try-with-resource and propose this pattern for transaction management for new release

[code]

[2014-04-09 01:03] dimzon opened #90 "NamedParameterStatement fails on Postgresql :: cast syntax"
[code]

[2014-04-09 17:32] #64 closed, assigned to nobody

[2014-04-09 21:54] #90 closed, assigned to dimzon

[2014-04-09 21:55] #86 closed, assigned to dimzon

[2014-04-12 15:26] dimzon opened #96 "automatic Quirks detection"
it's possible to try to detect Database-related Quirks during sql2o instance creation.
for old DriverManager approach it's possible to look @ uri:
[code]

for ```DataSource``` and other JDBC objects it's possible to look @ className:
[code]

it's possible to put database-related Quirks into different jars so to detect proper Quirk I propose to use ```java.util.ServiceLoader<QuirksFactory>```
[code

[2014-04-12 20:28] dimzon opened #98 "time to update latest benchmark results"
sql2o now is really faster
please re-measure and update it (my Atom netbook doesn't good for this measurements)

don't forget about `-server` java switch

[2014-04-12 20:53] dimzon opened #99 "what's wrong with annotations?"
all of time both @aaberg and @aldenquimby says "no **any** annotations in sql2o-core"
i just want to know why?
annotations is perfect way to solve a set of tasks...

[2014-04-12 23:58] dimzon opened #100 "org.sql2o.converters.Convert is thread-unsafe"
subj

[2014-04-13 00:01] dimzon opened #101 "EnumConverter is buggy"
[code]

[2014-04-13 17:07] dimzon opened #102 "Converters fault"
[code]

actually You can't assign java.util.Date to java.sql.Timespamp column etc.
so its enought to define Bean with java.sql.Timestamp property to get an exception

same problem for `byte[]` && `Byte[]` - you can't cast one to another!

[2014-04-13 19:46] #99 closed, assigned to nobody

[2014-04-13 21:45] #100 closed, assigned to dimzon

[2014-04-13 21:46] #101 closed, assigned to dimzon

[2014-04-13 21:46] #102 closed, assigned to dimzon

[2014-04-16 22:21] dimzon opened #106 "please add manifest resource folder"
I never used maven to build project - only for dependencies so not sure I can do this properly...

[2014-04-17 19:17] aaberg opened #109 "Update markdown engine on sql2o website"
https://help.github.com/articles/migrating-your-pages-site-from-maruku

[2014-04-18 01:38] dimzon opened #110 "Query must implement AutoClosable"
to close underlying PreparedStatement

[2014-04-22 20:07] #80 closed, assigned to dimzon

[2014-04-22 20:22] #106 closed, assigned to nobody

[2014-04-22 20:43] #31 closed, assigned to aaberg

[2014-04-22 21:12] #110 closed, assigned to dimzon

[2014-04-23 20:30] dimzon opened #114 "Java7 language level"
Seems like we already using JDK7-only classes (AutoClosable is since JDK7)
Maybe it's time to switch to Java7  language (i miss try-with-resources)?

[2014-04-24 20:53] #114 closed, assigned to aaberg

[2014-04-29 07:31] aaberg opened #116 "1.4.1 enum converter is not thread safe"
This is causing problems... I think we need to patch 1.4.1.

[2014-04-30 22:11] ghost opened #118 "Support Postgres Impossibl JDBC driver in Quirks mode"
Postgres Impossibl is an experimental NIO JDBC driver. It seems to be gaining popularity a lot lately due to focus towards high throughput. However the URL format is a different then Postgres official JDBC driver. Please consider supporting this if possible.

For more info:

http://impossibl.github.io/pgjdbc-ng/

or

https://github.com/impossibl/pgjdbc-ng

[2014-05-02 21:06] #116 closed, assigned to aaberg

[2014-05-12 11:19] aaberg opened #123 "Constructors are not called with version 1.5.0-SNAPSHOT"
It seems like constructors are not called on POJOS when they are created with the UnsafeFieldSetterFactory. I guess the problem is with the Unsafe class [on line 250](https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/reflection/UnsafeFieldSetterFactory.java#L250)

This needs to be fixed before 1.5.0 release.

[2014-05-13 17:46] #123 closed, assigned to dimzon

[2014-05-13 22:24] aldenquimby opened #125 "Support Generic Converters"
It would be great if sql2o supported generic converters, so that I could have a property of type `EnumSet<MyEnum>` and register a converter for it.

The problem right now is that if I want a generic `EnumSet<MyEnum>`, the converter does not have access to the parameterized type `MyEnum.class`.

So I could do:
`Convert.registerConveter(EnumSet.class, new MyEnumSetConverter());`

But inside `MyEnumS

[2014-05-14 19:14] aaberg opened #126 "Add ability to change default auto-column-map behaviour"
Defaults in current version is not to use the auto column mapping feature. It should be possible to choose the default behavior on an Sql2o instance, so that it's no longer required to set it for every created query.

ref comment from @justin-arvay https://github.com/aaberg/sql2o/pull/33#issuecomment-43099357

[2014-05-27 20:33] kije opened #128 "ArrayIndexOutOfBoundsException in MethodAccessorsGenerator.newSetter"
I encounter an ArrayIndexOutOfBoundsException in the MethodAccessorsGenerator.newSetter()  method (https://github.com/kije/sql2o/blob/master/core/src/main/java/org/sql2o/reflection/MethodAccessorsGenerator.java#L120).

At this time, I can not say for sure why I get these Exceptions.
I have a Class (<code>Departments</code>) which extends an abstract Class (<code>AbstractBusinessObject</code>) and

[2014-05-29 16:04] #128 closed, assigned to dimzon

[2014-06-22 20:24] aaberg opened #130 "OracleQuirks and returnGeneratedKeysByDefault"
This behavior has been unintentionally changed from version 1.4.2 to 1.5.0-RC1. The correct behavior for oracle, is for this property to return false.

[2014-06-22 20:26] #130 closed, assigned to aaberg

[2014-06-23 19:36] aaberg opened #131 "It should be possible for ResultSetIterable to close connection when iterable is closed"
See the discussion on [google groups](https://groups.google.com/forum/#!topic/sql2o/zNHsj6O64Qg)

[2014-06-23 19:41] #131 closed, assigned to aaberg

[2014-06-27 19:02] aaberg opened #132 "Failing to map columns is silently ignored"
Ref change done in pull request #75
Also see comment on google groups
https://groups.google.com/forum/#!topic/sql2o/3H4XJIv-i04

If a column cannot be mapped to a property, an exception should be thrown. Today it is silently ignored.

[2014-06-27 19:33] #132 closed, assigned to aaberg

[2014-06-28 11:29] aaberg opened #133 "1.5.2"

[2014-06-28 11:30] #133 closed, assigned to nobody

[2014-06-28 11:45] aaberg opened #134 "Add option to ignore mapping errors"
Ref discussion in issue #132

@dimzon I have assigned this to you. Is that OK?

[2014-07-09 19:48] sachin-walia opened #135 "Update the results of performance testing."
It's been a while since the performance test results have been updated for sql2o. Also I'd love to see how it scales against SansOrm. I have a huge respect for the author of this framework due to his efforts in developing HikariCP connection pooling library. Competition will only make things better.

https://github.com/brettwooldridge/SansOrm

[2014-07-28 08:13] lizhuangs opened #136 "how to use "inner join" with sql2o to return pojos"
hi,aaberg:
sql2o is a good job!I saw the samples in official website.it's easy and so concise.
but the only question is how can I use "inner join" with sql2o to return the  result "POJO" for me,just like hibernate .the pojo contains other pojos.

Thanks.
tudou

[2014-08-11 20:43] aaberg opened #138 "possibel memory leak when using sql2o with an application server"
Check this message in the sql2o google group:
https://groups.google.com/forum/#!topic/sql2o/msoyIgAe6zw

[2014-08-12 20:22] #138 closed, assigned to aaberg

[2014-08-25 09:03] aaberg opened #139 "PreparedStatement.isClosed method is not supported on all DB2 drivers"
Will throw a NullPointerException with some db2 drivers. When a sql2o connection is closed, sql2o will iterate over all created statements and make sure they are closed. This logic calls the `isClosed` method.

Either this should be moved to Quirks, or sql2o should just call close without first checking if statement is already closed.

[2014-08-25 19:00] migel opened #140 "Basic Android support"
I've tried to use Sql2o in Android. Initially it caused my application to crash. In the log the dalvikvm complained that the `Sql2o` class has dependencies on several `javax.naming.*` classes which it didn't find (turns out they are not implemented on the Android platform).
I've looked at the source of the `Sql2o` class (version 1.5.1) and the dependencies on `javax.naming.*` are used only in one

[2014-08-27 07:26] ccor opened #141 "the doc "Integration With Spring Framework" configuration"
<bean id="sql2o" class="org.sql2o.Sql2o">
	<property name="dataSource" ref="mysqlDS"></property>
</bean>
But Sql2o has no defautle constructor, should be that:
<bean id="sql2o" class="org.sql2o.Sql2o">
	<constructor-arg ref="mysqlDS"/>
</bean>

[2014-09-10 21:15] migel opened #142 "Ignore sql comments"
I'm loading sql queries from files and I've noticed that sql comments (starting with `--`) are not ignored e.g. if the comment contains one single quote character (`'`) it causes a null pointer exception when using `addParameter`.

[2014-09-11 07:58] medcl opened #143 "does sql2o support connection pool?"
if so, will be awesome.

[2014-09-12 11:35] mdelapenya opened #144 "Accessing non-public composite attributes fails with Sql2oException: could not read value of field XXX"
Say that you have these objects representing your DB model:

[code]

The library should works with:

[code]

But it actually throws an exception here:

[code]

[2014-09-15 07:25] aaberg opened #146 "addParameter with a list"
It should be possible to add a parameter with a list or an array.

Example:

[code]

[2014-09-16 21:18] #139 closed, assigned to nobody

[2014-09-16 21:27] #140 closed, assigned to nobody

[2014-09-17 12:02] 4rnstein opened #147 "DateTimeConverter: Defaults to Timezone.UTC instead of TimeZone.getDefault()"
Using secondary constructur fixes the issue:

new NoQuirks(new HashMap<Class, Converter>() {{
                put(DateTime.class, new DateTimeConverter(DateTimeZone.forTimeZone(TimeZone.getDefault())));
            }})

[2014-09-18 20:25] aaberg opened #148 "IndexOutOfRange exception"
When a resultset has multiple columns with the same name, sql2o 1.5.1 will throw an IndexOutOfRange exception when calling executeAndFetchTable() method.

[2014-09-18 20:27] #148 closed, assigned to aaberg

[2014-09-20 13:33] #147 closed, assigned to aaberg

[2014-09-20 13:43] #71 closed, assigned to nobody

[2014-09-20 18:21] #82 closed, assigned to nobody

[2014-09-20 18:44] #84 closed, assigned to nobody

[2014-09-20 18:50] #88 closed, assigned to nobody

[2014-09-20 18:53] #109 closed, assigned to aaberg

[2014-09-20 20:06] aaberg opened #149 "NullPointerException when using wrong parameter name"
When adding parameters and accidentally using a wrong parameter name, sql2o will throw a NullPointeException. It should instead throw a Sql2oException with a decent error message.

[2014-09-21 10:31] jcklie opened #150 "Documentation uses deprecated API"
When reading the documentation, I came across http://www.sql2o.org/docs/fetching-data/. It uses

 return sql2o.createQuery(sql)

in the third example which is deprecated.

[2014-09-22 06:59] 4rnstein opened #151 "Query.addParameterInternal throws "java.langNullPointerException: null""
Problem:
With complex query, its hard to know whats wrong.
private void addParameterInternal(String name, ParameterSetter parameterSetter) {
        for (int paramIdx : this.getParamNameToIdxMap().get(name)) {
            try {
                parameterSetter.setParameter(paramIdx);
            } catch (SQLException e) {
                throw new RuntimeException(String.format("Error adding parame

[2014-09-22 21:20] #150 closed, assigned to aaberg

[2014-10-04 15:49] mbknor opened #155 "NPE when detecting Quirk for H2"
Version: 1.5.2
When using H2-datasource like this:

      new Sql2o(datasource);

I get:

     java.lang.NullPointerException: null
        at org.sql2o.quirks.spi.QuirksProviderImpl.forObject(QuirksProviderImpl.java:22)
        at org.sql2o.quirks.QuirksDetector.forObject(QuirksDetector.java:29)
        at org.sql2o.Sql2o.<init>(Sql2o.java:78)

[2014-10-04 20:05] vertex-npratt opened #156 "Joda Date conversions applying incorrect timezone"
The default Joda converters for LocalDate are applying an implicit timezone, which actually shifts days when stored in the database. As far as I can tell, it looks like a LocalDate(2014,1,1) is being stored as -5 hours shifted, which results in a date in the DB of 2013,12,31.

This is apparent when the default Joda TimeZone has been set to UTC, and 2014-1-1 UTC gets converted to a Date with an ass

[2014-10-05 02:56] sachinwalia2k8 opened #157 "Ability to log sql query via boolean from Sql2o or Query classes"
This is a simple request but one could avoid writing pesky log statements in multiple places to log sql query.

My take:

1. To define it globally we can make use of Sql2o class.
2. To define per query provide an ability in Query class.

Sql2o and Query both could provide a method something like:
setSqlLogging(boolean enable, LogLevel ..);

Log Level could decide which level should be used for log

[2014-10-08 21:37] aaberg opened #158 "Support for neo4j jdbc driver."
See discussion here:
https://groups.google.com/forum/#!topic/sql2o/oGlpiq00Muw

[2014-10-09 18:34] #118 closed, assigned to aaberg

[2014-10-10 15:07] medcl opened #159 "NoSuchElementException"
[error] application - error
play.api.Application$$anon$1: Execution exception[[NoSuchElementException: null]]
    at play.api.Application$class.handleError(Application.scala:293) ~[play_2.10-2.2.1.jar:2.2.1]
    at play.api.DefaultApplication.handleError(Application.scala:399) [play_2.10-2.2.1.jar:2.2.1]
    at play.core.server.netty.PlayDefaultUpstreamHandler$$anonfun$2$$anonfun$applyOrElse$3.app

[2014-10-17 06:29] #144 closed, assigned to nobody

[2014-10-17 06:45] yngvesl opened #160 "The bind() call also binds elements that has already been manually bound"
When I map a pojo with bind(), it seems like the outcome is primarily dictated by the underlying driver sql2o uses. In my case I have a java.util.UUID which is going into an id text field in the database (I do this to achieve some loose coupling to whatever RDBMS in use). However, when I call bind I get the following exception:

java.lang.RuntimeException: Error adding parameter 'id' - Unable to c

[2014-10-19 13:53] #142 closed, assigned to aaberg

[2014-10-19 16:05] #160 closed, assigned to nobody

[2014-11-02 18:05] #156 closed, assigned to nobody

[2014-11-19 21:19] aaberg opened #161 "Fetching trigger-generated keys from Oracle"
Ref discussion on google group:
https://groups.google.com/forum/#!topic/sql2o/k2LwGdSdsb8

[2014-11-20 20:17] aaberg opened #162 "Autoclose on exception"
Ref post on google groups:
https://groups.google.com/forum/#!topic/sql2o/idZ5dC-IqtY

[code]

[2015-01-03 19:38] natinusala opened #164 "Ignore "org.sql2o.Sql2oException: Could not map xxx to any property""
Hello,

It would be nice to be able to ignore this exception, because there might be data we don't want to get from the database. For example if we need to fetch an Account using a where clause on its password, we don't need to get it back to the Java object.

Thanks !

[2015-01-04 18:09] aaberg commented on #164
This is a duplicate of #134

[2015-01-04 18:09] #164 closed

[2015-01-05 08:47] natinusala commented on #134
Any ETA for this feature ?

[2015-01-06 06:11] aaberg commented on #134
It is one of the most requested features now! I have changed the priority to high, and will try to implement it as fast as possible, preferably within a week

[2015-01-16 12:40] RasmanTuta opened #166 "Fail to add parameter to query when parameter name is only one character"
The following code will fail with java.lang.StringIndexOutOfBoundsException: String index out of range: 56 at org.sql2o.quirks.parameterparsing.impl.ParameterParser.parse(ParameterParser.java:33)

    count = S2o.getLocalSql2o().createQuery("select count(*) from scheme.table where status =:p", "name").addParameter("p", status).executeScalar(Integer.class);

Found in version 1.5.3

[2015-01-16 20:31] aaberg commented on #134
This is now fixed. Will be released with version 1.5.4

The syntax is:

[code]

[2015-01-16 20:31] #134 closed

[2015-01-16 20:33] natinusala commented on #134
Thanks a lot :)

[2015-01-16 21:08] aaberg commented on #166
This is now fixed. It was a small error in the parameter parser. The fixed code is released with sql2o 1.5.4

[2015-01-16 21:08] #166 closed

[2015-01-16 21:18] #162 closed

[2015-01-16 21:21] aaberg commented on #78
Closing. No longer relevant.

[2015-01-16 21:21] #78 closed

[2015-01-16 21:23] aaberg commented on #96
Closing. This is fixed in master branch.

[2015-01-16 21:23] #96 closed

[2015-01-16 21:28] aaberg commented on #136
I don't see a good solution to implement this. Closing.

[2015-01-16 21:28] #136 closed

[2015-01-16 21:29] #155 closed

[2015-01-21 19:06] aaberg opened #168 "javax.naming.* import causing trouble for gae users"
javax.naming.\* package is not supported when using gae.

The import is used internally for creating a DataSource from jndi. This functionality is actually irrelevant for sql2o, and could equally be handled by the application that uses sql2o.

[2015-01-21 22:35] aaberg commented on #146
I have been looking into this issue lately, but unfortunately I haven't found a good way to implement it.

My first idea of implementing this was to rewrite the sql so that the array-parameter was split into a parameter for each value in the array.
In example, consider the following sql
[code]
Adding a parameter containing an array with 3 values would rewrite the sql to the following
[code]
The pr

[2015-01-21 22:54] #149 closed

[2015-01-21 22:56] aaberg commented on #151
Duplicate of #149.

[2015-01-21 22:56] #151 closed

[2015-01-22 20:35] kfowlks commented on #143
The above commentators are correct! Hikari works just fine with sql2o and Spring 4.1. Check out the below for an example applicationContext.xml

	<context:component-scan base-package="net.p2pmag.totl" >
		<context:include-filter type="regex"
                       expression="net.p2pmag.totl.dao.*DAO*" />
		<context:include-filter type="regex"
                       expression="net.p2pmag.totl.ser

[2015-01-22 20:38] kfowlks commented on #141
@ccor There is no need for a default constructor because you can use Spring to pass in a datasource in your configuration. See the below Spring 4.1 XML example as to how to initialize a sql2o object properly in Spring.

        <bean id="sql2o" class="org.sql2o.Sql2o">
		<constructor-arg type='javax.sql.DataSource' ref='datasource'/>
	</bean>

[2015-01-22 21:48] aaberg commented on #141
Thanks for clearing this out. I will close this issue. There is still a need to add better documentation for how to use a connection pool without using spring, but that is covered in #143

[2015-01-22 21:48] #141 closed

[2015-01-24 10:53] Adhara3 commented on #161
That would be great, yeah.... ;)

[2015-01-24 10:56] Adhara3 commented on #161
Btw, currently I get an error that has not much sense to me:
[code]
But `executeUpdate(true)` doen not exist in the API....

Thanks
Andrea

[2015-01-24 12:12] Adhara3 opened #169 "DateTime parsing issue"
We are storing some events in an oracle DB as TIMESTAMP WITH TIME ZONE.
Imagine I have on the Db this value stored: `2015-01-24 12:47:02:198000 EUROPE/BERLIN`
When I perform the query I get two different results if I use Sql2o and the raw javax.sql

    ResultSet executeQuery = connection.createStatement().executeQuery(sql);
    executeQuery.next();
    DateTime dt = new DateTime(executeQuery.getT

[2015-01-24 12:52] Adhara3 commented on #169
I see, it's a duplicate of [#147](https://github.com/aaberg/sql2o/issues/147)
I initially though that was resolved for 1.5.3.

Sorry for that.

A

[2015-01-25 16:09] aaberg commented on #161
Year, you are right. That error message is clearly wrong. I'll crate a new issue and get it fixed as fast as possible.

[2015-01-25 16:21] aaberg opened #170 "getKey() method might throw an exception with misleading error message"
Ref #161 .

When calling `getKey()` method, the following error message might be thrown:

executeUpdate(true) doesn't exist in the API. The error message should instead point to the correct overload og `createQuery()`

[2015-01-25 16:26] aaberg commented on #169
No problem. Until 1.6.0 is released you can used the work arround described in #147.

~lars

[2015-01-25 16:26] #169 closed

[2015-01-25 22:48] #161 closed

[2015-01-25 22:56] aaberg commented on #161
new api:

[code]

or, if multiple keys are generated:

[code]

[2015-01-28 10:47] aaberg opened #171 "java.sql.Connection object should be available to converters"
Some jdbc drivers need the java.sql.Connection object when creating objects used as parameters. Such as arrays, blobs and clobs.

See the `createArrayOf()`, `createBlob()` and `createClob()` methods on [java.sql.Connection](http://docs.oracle.com/javase/7/docs/api/java/sql/Connection.html) class.

Ref discussion [here](https://groups.google.com/forum/#!topic/sql2o/3EA11AYGLCc)

[2015-02-10 12:30] aaberg opened #172 "QuirksProviderImpl throws an errror if DataSource is created as inline class"
IE. If creating a DBCP2 BasicDataSource like this:

[code]

The QuirksProviderImpl will throw an NullPointer exception, because `jdbcObject.getClass().getCanonicalName()` returns null

[2015-02-10 20:56] jorgemota opened #173 "Getting multiple ResultSets"
I have a simple sp returning 2 resultSets, using sql20 I only can acces to first resultset.

Can I register multiple Pojos, in order of resultsets ?

[2015-02-12 17:55] aaberg commented on #173
Hi,

This is not possible with todays version of sql2o. I will add it on to version 2.0 milestone.

[2015-02-12 18:19] jorgemota commented on #173
Thanks :( I am using sql2o in a 1.6 java project, I added some logic to read the values from first resultset and readed on demand later :)

[2015-02-13 14:36] Adhara3 commented on #89
"Transaction in transaction" would be great for testing
Scenario:
1. you want the test to open a transaction
2. the tested object opens an internal transaction and commits/rolls back,
3. in the test you assert and finally roll back.

A

[2015-02-13 14:53] Adhara3 commented on #83
I also have a couple of suggestions:
For query list: why don't you populate and existing list instead of returning a new one? I usually prefer to give you the container and you fill it rather than returning something.
Query one: how do we manage the "is not one result" scenario? We could return a `Optional<T>` instead of `T`(something similar to Java 8 `first()` on streams. Or we could accept anot

[2015-02-20 22:42] zsoca8711 opened #177 "Binding in iteration failing"
Hi!

I had a Query and a Pojo.
I did the following

Query x = conn.createQuery(RECORD_TO_PROCESS);
for (MyPojo p : pojoList){
 x.bind(p).executeUpdate();
}

This only did the update on the first pojo, because the binding didn't go away. I found no "clearParameters" method which would unbind.
I suspect the problem is in the Query class, on line 283:

 if (addedParameters.contains( property.name ))

[2015-02-26 02:26] vinhxike opened #178 "Put a list parameter to query IN condition."
I don't know the way to build query has IN condition. I tried http://screencast.com/t/Hlacb0h7rDWh. Could you please show me how can i do it?

[2015-02-26 02:45] vinhxike commented on #178
I also change c.status IN (:status) and use query.addParameter("status", "\"ONLINE\", \"COMPLETED\"") or query.addParameter("status", "'ONLINE', 'COMPLETED'") but it don't work.

[2015-03-01 15:26] aaberg commented on #178
Duplicate of #146

[2015-03-01 15:26] #178 closed

[2015-03-02 11:52] ForgeSeven opened #179 "NullPointerException thrown when parameter not found"
When a parameter does not exist inside a query, a NullPointerException is thrown, with little information. It would be nice if a "ParameterNotFound: paramName" or similar was produced for debugging purposes.

    public static void main(String[] args) {
        MysqlDataSource dataSource = new MysqlDataSource();
        dataSource.setUser("cc");
        dataSource.setPassword("password");

[2015-03-02 12:01] ForgeSeven commented on #179
Just noticed that this has been addressed in your 1.6.0-SNAPSHOT. Will you be releasing 1.5.5 maintenance that this could be included in?

[2015-03-03 12:46] aaberg commented on #179
Hi,
there are no plans for any more maintenance releases. This will have to wait until the 1.6.0 release. Hopefully we will be ready with the 1.6.0 release soon.

[2015-03-03 12:47] aaberg commented on #179
duplicate of #149

[2015-03-03 12:47] #179 closed

[2015-03-13 06:26] He-Pin opened #180 "using reflectasm for reflection"
https://github.com/EsotericSoftware/reflectasm

[2015-03-13 08:32] dimzon commented on #180
It already use same approach even a bit faster
13.03.2015 9:26 ÐÏÌØÚÏ×ÁÔÅÌØ "kerr" <notifications@github.com> ÎÁÐÉÓÁÌ:

[2015-03-13 16:00] hepin1989 commented on #180
yes,this will make sql2o faster

[2015-03-23 15:50] ftomassetti commented on #73
Any progress on this? I have a postgres db with a UUID and no idea how to use it with sql2o. I get a NPE on ```addParameter("uuid", UUID.randomUUID())```

[2015-03-24 13:19] niksabaldun commented on #136
IMHO, one-to-many and one-to-one relationships are not a problem, @impeto explained one way to resolve that. Many-to-one, however, is a problem. Say you have a table "cities" which is connected to table "countries" by field "id_country". In Java, "City" class would have a field of type "Country". I can include "id_country" field in query, but sql2o wouldn't know what to do with it, and I couldn't

[2015-04-16 15:49] FredipusRex commented on #177
Actually, bind() is now unusable except in the simplest one-off query cases. For instance, if you use bind() in the context of a batch query, it will only bind the first object (all others get skipped due to the addedParameters.contains() check).

Outside of a complete separation of the Query *population* phase from the Query *execution* phase, I think you've only got a few options.

* Create a me

[2015-04-20 15:52] FredipusRex commented on #177
For anyone who needs to work around the bind bug, here's an alternate bind method that does the same thing as bind() but does not check for overwriting previous addParameters calls - i.e., it's behaviour is exactly the same as addParameter. As it's not part of the class, it takes Query as its first parameter.

[code]

[2015-04-21 10:40] aaberg commented on #177
I think you are right, that the bind() method should act as any of the other addParameter() methods. This is also how it worked originally. The behavior was changed when issue #160 was fixed. I realize that this change wasn't thought through.

[2015-04-21 10:45] #177 closed

[2015-04-23 23:35] niksabaldun opened #181 "Support positional parameters"
I was having trouble with INSERT and UPDATE statements, they just wouldn't work, and at one point I realized that sql2o does not support positional SQL parameters. It didn't even enter my mind that basic feature like that would be omitted. Why not support positional parameters? It should be trivial to implement.

[2015-04-24 22:53] dimzon commented on #181
Positional parameters is evil. Just use named parameters :)

[2015-04-24 22:53] #181 closed

[2015-04-26 10:15] niksabaldun commented on #181
Pronounce something "evil" by fiat and just dismiss it. Wow.

Positional parameters are not evil, of course. They have their legitimate use cases, just like named ones. If you are building SQL dynamically, they are easier to work with and also faster, as there is no name lookup.

If positional parameters are indeed evil, why does Query class support "withParams" method? That is basically the same

[2015-04-28 07:24] #143 closed

[2015-04-30 22:08] alexandremjacques opened #182 "Setting setAutoDeriveColumnNames(true) in some kind of "global" level"
Following the idea of having some kind of global configuration (issue #157), it would be also nice to set  setAutoDeriveColumnNames on a more broad configuration (sql2o instance?).

Since DBs usually follows a naming convention (snake case, camel case, etc.), it is pretty boring (and error prone) to keep setting this on every createQuery.

Regards.

[2015-05-07 23:34] niksabaldun opened #183 "Support positional parameters"
I am opening this feature request again as my first attempt (#181) was summarily dismissed without good explanation. Positional parameters are useful in certain use cases, and their absence from sql2o is certainly causing me a lot of problems. They should be quite trivial to implement, so why not?

[2015-05-08 00:15] dimzon commented on #183
Positional parameters (JDBC way) is evil/bad practice  because you have not a way to control, change their order. I mean it's too common case when you need to change parameter order when you rewrite an SQL query. Also if you use same parameter twice you must bind them twice. Imaginate you must rewrite java-method signature every time (near every time) you change its implementation. You can emulate

[2015-05-08 10:45] niksabaldun commented on #183
In my case, I am building SQL dynamically, I am not writing it by hand. I analyze Java bean class and build SELECT/UPDATE/INSERT statements based on class metadata which I get by reflection. Positional parameters are much easier to work with in that case. Sometimes I need to exclude a field from existing UPDATE statement, which would be trivial replace operation with positional parameters. If I us

[2015-05-08 11:09] aaberg commented on #183
The Query object doesn't handle positional parameters, and I don't think it should either. But the Query object is just a decorator class for a PreparedStatement, so perhaps this can easily be solved simply by make the PreparedStatement instance accessible through a getter?

Something like this:

[code]

[2015-05-08 15:09] niksabaldun commented on #183
Making JDBC counterparts of sql2o classes accessible through getters is definitely a good thing, regardless of this discussion.

For me, it makes sense to support both named and positional parameters (JPA supports both, for example). Whether you decide to support positional parameters or not, I believe :pN naming pattern should be removed. It is non-portable and counter-intuitive (also undocumente

[2015-05-11 17:12] Adhara3 opened #184 "Sql2O and DataSource release"
Hi,

I saw in the docs that there is no way to force Sql2o to release resources.
What I am experiencing is memory leaks in Tomcat with hot deploy. I'm not sure it's a Sql2o issue, I was just wondering if you are aware of something related.
Does `new Sql2o(dataSource)` keeps a reference somehow to the datasource itself? Is there a way to release that? (of course, I am already closing the DataSource

[2015-05-11 19:51] aaberg commented on #184
Hi,

The Sql2o class is a decorator class for a DataSource. An instance of the Sql2o class will keep a reference to the DataSource instance, but if you don't keep a reference to the Sql2o instance, the GC should be able to clean up both the Sql2o instance and the underlaying DataSource instance.

Sql2o does cache some values, specifically column mappings and parsed queries, which is stored in stat

[2015-05-12 07:32] Adhara3 commented on #184
Thanks for the reply @aaberg,

we will further analyse and I'll keep you posted.

Andrea

[2015-05-15 19:40] niksabaldun opened #185 "Bug in sql2o StringConverter"
Class org.sql2o.converters.StringConverter, line 55:

        return val.toString().trim();

This causes any varchar field that has leading or trailing whitespace to be retrieved incorrectly (I noticed it with executeScalar). Obviously, the trim() method call needs to be removed. Also, is there any workaround I can use in the mean time?

[2015-05-16 11:08] aaberg commented on #185
Hi,

Until this is fixed, you can write your own string converter. Just create a class that implements `Converter<String>`, and implement the `convert` and `toDatabaseParam` methods. A very simple implementation would look something like this:

[code]

When you create your sql2o instance, you can register the converter like this:

[code]

Regards
Lars Aaberg

[2015-05-16 12:16] niksabaldun commented on #185
OK, thanks, Lars.

Nik

[2015-05-16 18:08] felipear89 opened #186 "ColumnMapping to dependency entity"
I want to map **colMaps.put("client_id", "client.id");**

then, the framework would do client = new Client() and client.setId(resultset.getString('id')

[2015-05-20 13:31] jlogar commented on #146
Since you mentioned dapper.net in the README, did you by any change take a look at theier implementation of WHERE IN?
I found the test here:
https://github.com/StackExchange/dapper-dot-net/blob/24e55162f47780f509ee373c081234431bc5d576/Tests/Tests.cs#L376

[2015-05-20 15:07] dimzon commented on #146
Well, this one is a big problem. Personally I use different strategies to pass "arrays" to database. For some databases XML works fine (just serialize array as xml string and pass it to jdbc, use database-specific query-to-XML abilities to parse it back to "table" form)

[2015-05-20 15:17] dimzon commented on #146
MSSQL2005+ examples:

[code]
http://www.sommarskog.se/arrays-in-sql-2005.html

[2015-05-20 15:23] dimzon commented on #146
keep in mind you can use complex arrays (arrays of java beans instead of just primitive list)
[code]

[code]

[2015-05-21 05:48] jlogar commented on #146
@dimzon not sure we are talking about the same thing here. The issue is not storing arrays in the database but doing a select where the WHERE clause contains the IN operator and requires an array of values.

[2015-05-22 06:28] aaberg commented on #146
Thanks for the tip. I will certainly take a look at dappers implementation!

[2015-06-01 21:18] klaushauschild1984 opened #187 "NPE on Query.addParameter when parameter is not present in query"
This problem occurs in sql2o-1.5.4.

connection.createQuery("SELECT * FROM TABLE").addParameter("someparameter", 123);
This snippet results in a NPE because "someparameter" is not present at the current query.
Do not throw a NPE or give some hint through the error message what's wrong.

Thanks

[2015-06-15 22:29] dalexander01 opened #188 "Allow use of immutable POJOs instead of requiring POJOs with setters"
Would be awesome if sql2o supported this like DBUtils and other jdbc utility api's.

[2015-06-23 10:30] jlogar opened #189 "try-with-resource for Query in documentation"
I've run into some memory use problems (OutOfMemoryError) when using Query in a loop. Resolved them using `try(Query q = con.createQuery(..)){...}`.
Should the documentation examples be updated to use the try-with-resources statement for Query objects?

[2015-07-08 19:43] aartiPl commented on #188
It's actually possible. Just implement RecordSetHandler interface and manually create immutable object from recordset. Then pass your RecordSetHandler implementation to e.g. executeAndFetch() method. In fact I prefer this way of using sql2o than automatic mapping. Less magic is better :-)

[2015-07-08 21:03] arnaudroger commented on #188
I feel like hijacking the thread but SimpleFlatMapper as an integration point with sql2o and it supports Constructor injection. see
 https://github.com/arnaudroger/SimpleFlatMapper/wiki/Sfm-integration-in-Jooq-And-Sql2o-for-performance#sql2o
https://github.com/arnaudroger/SimpleFlatMapper/blob/master/src/test/java/org/sfm/sql2o/Sql2oIntegrationTest.java

[2015-07-10 08:05] aartiPl opened #190 "Support for maxBatchRecords"
It would be nice to have method on query:
void maxBatchRecords(int max);

When someone will set non zero value on it, then after max additions to Batch, there should be called query.executeBatch().
See e.g.: http://viralpatel.net/blogs/batch-insert-in-java-jdbc/

This is common pattern to avoid OutOfMemory error when adding too many records to batch.
It can be very simply implemented in current so

[2015-07-13 22:42] takapa opened #191 "Feature request : Add debug setting for debugging Query.bind()"
I really like this library however a common problem I'm having is with binding to a model object. Sometimes it may be that my getters do not equal the parameter names in my SQL template, or sometimes the getters may be missing entirely. In these cases, I have had to modify the source of sql2o itself to print out which parameters are being bound.

A global flag for debugging dynamic bindings would

[2015-07-20 15:12] miroslavivanov1988 opened #192 "Bug in Query.bind() method when execute batch queries"
I use Query.bind() in batch execution. If I try to insert N records it will bind the values from first entity and insert N numbers of exactly the same rows.

For example:

public void insertABunchOfRows(List<Entity> entities){
    final String sql = "INSERT INTO SomeTable(value1, value2) VALUES (:value1, :value2)";

    try (Connection con = sql2o.beginTransaction()) {
        Query query = con.cr

[2015-07-31 19:53] pavanjaju commented on #192
+1
Any update on this issue?

[2015-08-01 08:10] aaberg commented on #192
I have labeled it as a high priority bug

[2015-08-01 12:56] zsoca8711 commented on #192
When can you look at this?
I'm thinking to resolve this bug to support you and this wonderful library :) I'm not sure about it, i'm with two kids, but if you say it may take weeks to resolve, i'm happy to play with it in one of the evenings.

[2015-08-01 19:31] zsoca8711 commented on #192
Haha, this is funny, because i've forked your code to fix it, added a unittest to cover the issue and the unittest ran fine.
I think the explanation is this: https://github.com/aaberg/sql2o/issues/177 :)
I've raised this issue before and you fixed it.

Shall i setup a pull request for the unittest?

[2015-08-02 10:19] aaberg commented on #192
Ahh, I thought the problem sounded familiar :)

Yes, please make a pull request with the unittest, I will gladly accept it!

[2015-08-10 07:22] aaberg commented on #187
Closing. This is a duplicate of #149

[2015-08-10 07:22] #187 closed

[2015-08-10 10:52] ashishranjan30 opened #194 "Change Schema before executing Queries."
In Native JDBC we can use setCatalog() to change schema. Is there any alternative here in Sql2o to execute queries over different schemas.

[2015-08-10 13:55] aaberg commented on #170
Fixed together with #175

[2015-08-10 13:55] #170 closed

[2015-08-10 13:57] aaberg commented on #192
Closed as duplicate of #177

[2015-08-10 13:57] #192 closed

[2015-08-10 17:24] #172 closed

[2015-08-10 17:32] aaberg commented on #194
You can set the schema directly on the underlying jdbc connection. Example:

[code]

[2015-08-11 07:00] aaberg opened #195 "Add MSSQL UUID converter"
A MSSQL module should contain a converter to convert between UUID values MSSQL compatible GUIDs.

[2015-08-11 07:02] aaberg opened #196 "Add Oracle UUID converter"
Ref #73, the converter should most likely convert between the java UUID type and Raw[16] oracle type. It should be contained in the sql2o-oracle module

[2015-08-11 07:02] aaberg opened #197 "Add DB2 UUID converter."
Should convert between java UUID type and an appropriate UUID-like DB2 type. Should be contained in the sql2o-db2 module.

[2015-08-11 07:18] ashishranjan30 commented on #194
Thanks. That helped a lot.

[2015-08-11 07:18] #194 closed

[2015-08-11 07:47] aaberg commented on #73
After the introduction of bidirectional converters, a UUID converter will convert both parameters and results. So the specifics of this issue has been fixed for some time now. The UUID datatype works out of the box for Postgres, without any specific converter. @ftomassetti  I think you have a different error? Check out [this postgres test](https://github.com/aaberg/sql2o/blob/master/extensions/pos

[2015-08-11 07:47] #73 closed

[2015-08-11 07:48] #157 closed

[2015-08-11 07:54] aaberg commented on #157
I have added logging of the SQL just before the statement is executed. It will log the parsed query, so that parameters are logged as ?. Instead of adding a `setSqlLogging()` or similar, it will simply log queries at DEBUG level, so that it utilizes default logging behavior.

[2015-08-12 06:40] #196 closed

[2015-08-12 07:02] dimzon commented on #196
Does you check byte order? I mean uuid.tostring must look equals with same
column in DB administration gui
11.08.2015 10:02 пользователь "Lars Aaberg" <notifications@github.com>
написал:

[2015-08-12 07:07] dimzon commented on #196
Btw. MSSQL uniqueidentifier obtained via getBytes and Oracle raw has
different byte order
11.08.2015 10:02 пользователь "Lars Aaberg" <notifications@github.com>
написал:

[2015-08-12 07:16] aaberg commented on #196
Good point. We should have a unittest checking this.

[2015-08-17 19:39] zsoca8711 commented on #190
I'll get on and develop this and i'll post a pull request on it.
You can review and feeback on my solution :)

I'll also add test coverage of course.

[2015-08-17 20:55] zsoca8711 commented on #190
https://github.com/aaberg/sql2o/pull/198

[2015-08-18 06:19] #190 closed

[2015-08-18 16:18] pavanjaju commented on #146
+1

[2015-08-18 16:26] dheerajarora commented on #146
+1 much needed feature.

[2015-08-19 10:38] jammer76 commented on #83
Hi,
    I've noticed a lot of time wasting on fetching: this depends mainly on used Reflection (100k rows w/ 10 fields in 2m - on i7/4GB/java7).
As option could be good to use something similar to DBUtils: a companion mapper class or an Interface to implement to have bytecode bean population.

Antonio

[2015-08-20 04:35] dimzon commented on #83
@jammer76 does your java classes have public fields or getters/setters?
Which environment you running on?

sql2o use bytecode generators for methods (really, they reuse them from JVM).
I made some research (including decompiling oracle and ibm rt.jar) for ReflectASM project
https://github.com/EsotericSoftware/reflectasm/pull/27/
https://github.com/EsotericSoftware/reflectasm/issues/23

[2015-08-20 08:24] jammer76 commented on #83
Hi Dimzon,
    my environment has public setter/getter with LOMBOK... but with a new try I've obtained that with some trick on fetchSize of DataSource I've obtained that with reflection I've 21s per 1M rows of 100bytes ca. and with Handler 15s for same rows (obiouvsly of a simply query like select * from table where rownum < 1000000)

[2015-08-20 08:34] dimzon commented on #83
Try public fields
20.08.2015 11:24 пользователь "Antonio Conte" <notifications@github.com>
написал:

[2015-08-20 08:36] jammer76 commented on #83
But public fields is not a good choice... for sure is faster but absolutely unsafe and unmaintanable... ;-)

[2015-08-20 08:39] dimzon commented on #83
The bottleneck is not reflection since byte code used. Just one more
virtual method call * 1M rows* n columns can take those 5 seconds
20.08.2015 11:34 пользователь "Dmitry Alexandrov" <dimzon541@gmail.com>
написал:

[2015-08-20 08:41] dimzon commented on #83
It depends. Until they are package private...
20.08.2015 11:36 пользователь "Antonio Conte" <notifications@github.com>
написал:

[2015-08-20 08:49] dimzon commented on #83
Btw I think we need a strategy to ignore setters and deserualize directly
to  private fields anyway. Your can achieve same effect now if you rename
backing fields without touching setters and make column aliases in select
to match fields...
20.08.2015 11:36 пользователь "Antonio Conte" <notifications@github.com>
написал:

[2015-08-20 09:04] aaberg commented on #83
Such a strategy should be optional and should not be enabled by default. it will be counter intuitive compared to ordinary java-standards. But I agree, that such a strategy could be nice to have, when you need a little extra performance for large datasets.

[2015-08-20 09:06] dimzon commented on #83
Btw GSON use such strategy by default. Java builtin serialization too
20.08.2015 12:04 пользователь "Lars Aaberg" <notifications@github.com>
написал:

[2015-08-20 09:10] dimzon commented on #83
Since serialization means persisting object state and actual state is
fields. So there are some dualism and both approaches has logical base
20.08.2015 12:04 пользователь "Lars Aaberg" <notifications@github.com>
написал:

[2015-08-20 09:19] dimzon commented on #83
So saving field means "Save object snapshot" and using properties means
"Save recepie how to create same object". There are not silver bullet
solution - it depends...
20.08.2015 12:04 пользователь "Lars Aaberg" <notifications@github.com>
написал:

[2015-08-20 09:23] aaberg commented on #83
Yes, it really depends on the use case. I think the best solution would be to have both strategies available, and to keep the properties-first strategy as default.

[2015-08-20 09:32] jammer76 commented on #83
For Serialization Strategy coul be useful to investigate also KRYO (faster that I know)
https://code.google.com/p/kryo/

[2015-08-20 09:53] dimzon commented on #83
As I said before bottleneck is additional virtual methods into call stack
when setters is invoked. Anyway this overhead is negligent for real life
applications. For example with a million rows - in real life you fetch them
for some complex processing (otherwise better to process via sql). I
believe your processing take muuuuuuuch more time than whole fetch
overhead.
At over side for best perfomanc

[2015-08-20 21:39] dalexander01 commented on #83
@dimzon GSON makes use of sun.misc.unsafe to handle serialization/deserialization using private fields. It's definitely a nice feature to have as your model objects do not require setters (thus making them mutable everywhere), but I would be worried about sun.misc.unsafe being removed in future java versions.

[2015-08-21 02:34] dimzon commented on #83
It's impossible to completely take away such mechanism since Java RMI
serialization is based on it. It's only possible to rename it..
21.08.2015 0:39 пользователь "dalexander01" <notifications@github.com>
написал:

[2015-08-24 12:46] thiloplanz opened #199 "Should we tackle SQL ARRAY-type columns?"
I am working on a project where we use ARRAY-type columns.

This can be made to work with sql2o using converters and quirks (the latter are needed because of #171).

Is this something that should be included by default in sql2o ?

The problem is that availability of ARRAY and how one has to work with them vary widely between databases. But it is a part of JDBC proper, so ....

Conflict with existi

[2015-08-24 15:44] dimzon commented on #199
Try to put your quirks and converters into separate library first. They can
be not a sql2o core but satellite library anyway
24.08.2015 15:46 пользователь "thiloplanz" <notifications@github.com>
написал:

[2015-08-25 11:12] thiloplanz commented on #199
I have put the Quirks and Converter I came up with in [a gist](https://gist.github.com/thiloplanz/76beff93273e80e68189).

I have only tested it with H2DB and Postgres, and have little faith that it works with others. The way arrays are handled are indeed completely different between databases, so if code like this ends up making its way into a library, it should probably be in the DB-specific adap

[2015-08-25 11:17] thiloplanz commented on #199
Well, it turns out that when you do "addParameter" with a *primitive* array in H2DB, it does Java object serialization (column type OTHER). So that would be a case where array processing changes the behaviour.  With non-primitive arrays, H2DB maps to ARRAY.

[2015-08-26 07:43] borisfa commented on #179
And why just to throw user friendly exception some like "this parameter doesn't exist,
please correct your spelling " . Many times you don't recognize space or double letters
or j instead g, so null pointer exception is luck of information about error.

[2015-09-01 05:26] atnak opened #200 "Sql2o.beginTransaction() fails to release the connection on failure"
Our connection pool ran out, and log analysis suggests this may be the cause.

When `Sql2o.beginTransaction(int)` [throws an `RuntimeException` at line 254](https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/Sql2o.java#L254), it doesn't seem to be releasing the created-but-soon-to-be-abanded `jdbcConnection`.

I suspect the code should be changed to something like:

[code]

[2015-09-01 06:48] aaberg commented on #200
Thanks for the detailed description. I will fix it right away and include it in the upcoming 1.6.0 release

[2015-09-01 07:00] #200 closed

[2015-09-16 09:02] aartiPl commented on #200
Hi, when is there planned a new release? I think that this issue is very important for anyone who wants to use sql2o in production environment. Relaying on v. 1.5.4 is not an option, so only custom builds are possible... I would be very happy to see a new release soon... Thanks in advance!

[2015-09-16 10:27] aaberg commented on #200
Hi,

The only thing that remains for before version 1.6.0 release, is to update
some documentation. But since there has been multiple requests to release
it asap, I am considering to release the new version first, and then update
the documentation.

I'll keep you posted!

Regards
Lars Aaberg

On Wed, Sep 16, 2015 at 11:02 AM aartiPl <notifications@github.com> wrote:

[2015-10-01 13:04] akuji1993 opened #201 "Problem with transaction handling"
Hi sql2o Team!
I have a question/issue regarding the transaction handling of sql2o. We used sql2o to get rid of Hibernate, now we have to convert all of our queries to your syntax.

I faced a certain problem while writing a cascading delete: I can't seem to get the connection to not auto-commit. My setup is like this:

try{
Connection connection =  database.beginTransaction(); <- this just points

[2015-10-04 08:27] zsoca8711 commented on #201
Hello,

"When I include the following line
connection.getJdbcConnection().setAutocommit(false); "

Where did you invoke this call?
Not sure what is going on, this looks good - surely your code must look a bit different to what you have put here. Can you copy paste the exact code, if possible?

Few things to add, though: call the close method in finally or use the try-with-resources( https://docs.o

[2015-10-05 03:08] dimzon commented on #201
please provide full code sample and exception with stacktrace

[2015-10-23 08:13] mbknor opened #202 "commit(true) leaks Statements/cursors when using connectionPool"
sql2o 1.5.2 and 1.5.4

If using beginTransaction and createQuery without explicit closing, commit with closeConnection=true will leak statements when using pooled connections.

I'm using Oracle and get "ORA-01000: maximum open cursors exceeded"

The problem is that Connection.commit(true) uses closeJdbcConnection() instead of close() which would have closed Statements before closing connection.

E

[2015-10-23 08:42] mbknor commented on #202
Here is the workaround I used: https://github.com/NextGenTel/akka-tools/commit/95baa15a1c7e92c9160557943784c66465443a0a

[2015-10-28 11:18] citionzeno commented on #146
+1.

For MySQL users, a workaround is to use the <a href="http://dev.mysql.com/doc/refman/5.0/en/string-functions.html#function_find-in-set">FIND_IN_SET()</a> method:

[code]

and provide **sql2o** with the comma separated list of values:

[code]

There is a performance price to pay, though, as FIND_IN_SET is slower than the IN operator.

[2015-11-12 11:55] ccor commented on #146
NamedParameterJdbcTemplate in Spring can support this feature, FYI

[2015-11-19 10:53] amanteaux opened #204 "Use javax.persistence.Column annotation to map resultSet"
It would ease the transition between Hibernate/JPA to sql2o if sql2o were able to read the JPA Column annotation to map the resultSet to the POJO.

I can take care of this feature, but before I do anything, I would like to make sure that:
- this feature does not already exist,
- you agree with the implementation I want to do.

Actually I have found 2 options:
- either this feature is implemented w

[2015-11-20 22:19] CyborTronik opened #205 "Converters cannot be registered as service"
I'm getting:
[code]
for class registered in `META-INF/services/org.sql2o.converters.ConvertersProvider` :
[code]

[2015-11-20 22:29] CyborTronik opened #206 "Unclear exceptions for class casting"
I got next exception which is not clear what library tries to do:
[code]

[2015-11-23 08:47] aaberg commented on #204
Hi,

This feature does not already exist, but I think it would be a really nice addition to sql2o.

Since it does not require any new dependencies, I think the best solution would be the tight integration. The logic should be to first check for the `@Column` annotation and use that. If there is no `@Column` annotation, it should use existing logic. Do you agree?

[2015-11-23 08:50] aaberg commented on #206
Hmm. I've never seen this before. Do you have a code snippet that can reproduce the exception?

[2015-11-23 08:52] dimzon commented on #204
public interface ColumnNamingStrategy{ String getName(Field f) ;}
23.11.2015 11:47 пользователь "Lars Aaberg" <notifications@github.com>
написал:

[2015-11-23 09:22] CyborTronik commented on #206
I think I had a field with type java.time.OffsetDateTime.
So this kind of exception happens when you have no converter for such type.
So exception should be meaningfull like: org.sql2o.DataConvertException: Please provide a convertor for type any.package.ConvertorX

[2015-11-23 16:39] amanteaux commented on #204
Yes I agree, the `@Column` annotation should be used first if it exists, else the existing logic should be used.

By the way, I noticed that in `DefaultResultSetHandlerFactory` the `getGetter` method and the getter part in `newResultSetHandler0()` are not used. I would like to remove the corresponding code (maybe in another github issue), but is this code intended to be used in the future ?
I also

[2015-11-25 13:52] amanteaux commented on #146
When the `Query` is instantiated, the text query is directly attached to a `PreparedStatement`.
So later, when the query is executed, ie the method `executeSomething()` is called, the text query cannot be altered anymore whereas it is at this moment that we know an `array` or a `List` is passed as a parameter.

Wouldn't it be possible to wait until the method `executeSomething()` is called to star

[2015-11-25 14:54] amanteaux opened #208 "Sql2o should not rely on `sun.misc.Unsafe`"
`org.sql2o.reflection.UnsafeFieldGetterFactory` and `org.sql2o.reflection.UnsafeFieldSetterFactory` are relying on the `sun.misc.Unsafe` class.

The future of the accessibility of the `sun.misc.Unsafe` class remain uncertain for Java 9.
Moreover, I don't see why it is used in `UnsafeFieldGetterFactory` and `UnsafeFieldSetterFactory`: there is no need to use `sun.misc.Unsafe` to access the value of

[2015-11-25 15:41] CyborTronik opened #209 "Architecture design improvement"
Can we change the API let's say for version 2.0?
This is a totally great library that I found useful for many reasons. I'm trying to use it in another opensource project.
But there is a serious lack of architecture design(BTW there are too many open source projects may deal with exact the same issues).
First of all the project must meet S.O.L.I.D. principles that will make it more extendable and f

[2015-11-26 11:47] aaberg commented on #208
It's a performance thing. The performance of setting and getting fields using the unsafe methods is much better compared to using reflection. Sql2o is using a fallback-strategy, so if the `Unsafe` is not available in the jvm, it will fall back to using reflection.

If there is an even better way of doing this in Java 9, we should provider an implementation for that. But, let's wait and see when Ja

[2015-11-26 11:47] #208 closed

[2015-11-26 11:57] aaberg commented on #146
Yes, I have considered that approach, and even tried to implement a proof of concept. But it requires some serious refactoring, and might even break some of the existing functionality.
But, if anyone is willing to put in the required effort, and is able to do it in a way that doesn't break to much of the existing functionality, it might be worth it! ;)

[2015-11-26 12:06] aaberg commented on #209
I totally agree! When I started writing the code on sql2o I didn't have a clear plan and roadmap, I just had a vague idea. It has gradually evolved and grown into what it is today.
Meanwhile a lot of people have contributed, and added their touch. If not for the contributors, sql2o would never have become what it is today

[2015-11-26 12:23] aaberg commented on #209
I totally agree,

When I started writing the code for sql2o, I didn't have a clear plan and roadmap, I just had a vague idea of a small library that would make things easier when accessing databases. The first version was really nothing more than a proof of concept I made for a project I was working on. I had not planned for it to be used by a lot of people. That is the root cause of the 'missing'

[2015-11-26 17:33] amanteaux commented on #208
Ok, thank you for the precision!

[2015-11-26 17:56] amanteaux commented on #146
I will try to have a look at it!

[2015-11-26 17:58] aaberg commented on #146
Nice!

On Thu, Nov 26, 2015, 18:56 amanteaux <notifications@github.com> wrote:

[2015-11-28 17:46] degomon commented on #10
How to pass QuirkMode ENUM in spring context (xml) ?

[2015-12-07 12:47] foror opened #212 "java.sql.Date used as POJO at executeAndFetchFirst"
conn.createQuery("SELECT date FROM foo_table").executeAndFetchFirst(java.sql.Date.class);

java.sql.Date will be used as POJO and trying to call setDate(int) at java.util.Date (java.sql.Date extends it). But field at table is "date date NOT NULL" is not integer. As result:

[code]

[2015-12-07 13:00] dimzon commented on #212
https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/DefaultResultSetHandlerFactory.java#L219

try
[code]

[2015-12-07 13:06] dimzon commented on #212
btw. Need to avoid to search any setters/getters for well-known types like Long, Integer, Date etc....

[2016-01-05 12:53] eliandroribeiro opened #213 "executeAndFetchTable().asList() returns row keys in lower case"
When you have a column aliased with camel case (eg.: "`SELECT first_name firstName ...`"), the Map key, returned by `executeAndFetchTable().asList()` is lower cased (eg.: "firstname").

[2016-01-05 13:14] eliandroribeiro opened #214 "addParameter doesn't support Joda-Time's LocalDate"
`LocalDate birthDate = ...`

`query.addParameter("birthDate", birthDate)` fails (returns nothing).
`query.addParameter("birthDate", birthDate.toString())` works correctly.

Not even `query.addParameter("birthDate", LocalDate.class, birthDate)` works.

Is this an issue?

[2016-01-08 11:42] aaberg commented on #213
This conversion is done in the jdbc driver, so it is not possible to fix it in sql2o.

[2016-01-08 11:42] #213 closed

[2016-01-08 11:48] aaberg commented on #214
This should work.
What database are you using?
What datatype is the column in the database table?

[2016-01-12 13:11] eliandroribeiro commented on #214
MySql 5.5
The column datatype is date.

[2016-02-12 16:05] amanteaux opened #215 "Joda classes should be in a separated dependency"
I am using Java 8 so I do not want Joda Time to be in my classpath. Indeed Joda Time classes messes with Java 8 ones: if I want to use `java.time.LocalDate` I have to be careful not to import `org.joda.time.LocalDate`.

However the oracle extension to sql2o is requiring Joda Time through the service provider file `org.sql2o.converters.ConvertersProvider`.
So if I remove Joda Time from my classpath

[2016-02-15 09:18] amanteaux commented on #215
If it is OK, I can do the change and create a pull request.

[2016-02-16 07:43] aaberg commented on #215
Year, that would be a welcome addition! If you are willing to do the change, I will gladly merge it.

[2016-02-26 17:12] ryber opened #216 "Memory issues in DefaultResultSetHandlerFactory"
Hello,
    We have been seeing some major GC thrashing around DefaultResultSetHandlerFactory. What we are seeing are massive cleanups around stringKey (which is a property of key). It looks like it's the same string value all the time but it's actually a new string object. This has actually caused our application to crash.

I would assume this is due to the use of StringBuilder::toString inside De

[2016-02-26 20:21] ryber commented on #216
![sql2ooverview](https://cloud.githubusercontent.com/assets/145359/13364389/315ed204-dc94-11e5-85ae-3390834b86cc.gif)

![sql2o](https://cloud.githubusercontent.com/assets/145359/13364392/360d2882-dc94-11e5-9548-04b8a3563c62.gif)

[2016-02-27 03:05] ryber commented on #216
So I think I figured this out. The QuirksDetector is returning a new NoQuirks instance. So we have a new Key in the map every time the query runs even though all the other parts are the same.

The reason we get a new NoQuirks object is because QuirksProviderImpl can't figure out what our driver is since we wrap the oracle driver in ```org.apache.commons.dbcp.BasicDataSource```

Is it reasonable fo

[2016-02-27 03:56] dimzon commented on #216
Just specify proper quirks instance directly into your helper code...
27.02.2016 6:05 пользователь "Ryan Bergman" <notifications@github.com>
написал:

[2016-02-27 04:21] ryber commented on #216
That's what I'm doing, but isn't the root code wrong for aways returning a new NoQuirks if it can't find a match? Shouldn't it be static? or change the hashcode of the key?

[2016-02-27 05:04] dimzon commented on #216
Yes, it must be static. But other your proposal about deep provider search
against connection pool is too complex and uncommon since too many
connection pool implementations
27.02.2016 7:21 пользователь "Ryan Bergman" <notifications@github.com>
написал:

[2016-02-28 22:17] ryber commented on #216
I've issued a PR for the 1.5 branch. I started to do the same for 1.6 but I don't think it's as good a solution there. With the creation of Quirks moved out to providers you are placing a expectation of how those are created on an interface. Those providers should return quirks in whatever way they see fit. You can't really demand that they return singletons. Additionally this is all being done so

[2016-02-29 07:14] dimzon commented on #216
Just implement equals and hashCode by quirks implementation.
29.02.2016 2:40 пользователь "Ryan Bergman" <notifications@github.com>
написал:

[2016-03-04 12:57] beldon opened #220 "Can you write more notes for this project?"
Hello, can you write more notes for this project?

[2016-03-07 08:36] liygheart opened #221 "Row map does not support entrySet"
[code]

When I execute the code above, an exception is thrown `Row map does not support entrySet`

[2016-03-16 15:04] Moehritz opened #222 "Using bind() in batch mode doesn´t work"
As far as I see, `addedParameters` isn´t cleared in `addBatch()`, so `bind()` won´t add them again. `addParameter()` does not check this set, so this method works.

Just for fast testing, calling `fixQuery(Query query)` after every `addBatch()`worked for me
[code]

[2016-03-21 07:49] aaberg commented on #220
All documentation contributions are greatly welcome.

[2016-03-22 23:52] javaguruen commented on #155
I get the same NPE in
`QuirksProviderImpl:22  if (className.startsWith("oracle.jdbc.")) return oracleQuirks.q;`

I have a `H2LiquibaseDataSourceFactory `that is used. `getClass()` returns "`no.hamre.H2LiquibaseDataSourceFactory`" but `getClass().getCanonicalNamre()` returns null and causes NPW.

[2016-03-30 20:27] doganov opened #224 "Connection.close() is incompatible with Java EE Container Managed Transactions (CMT)"
Automatic rollback on `Connection.close()` is handy, but makes the method unusable in the context of Java EE Container Managed Transaction (CMT). In CMT, `commit()` and `rollback()` are forbidden in application code, since they are supposed to be issued by the container.

It would be great if there is a way to tell the Connection object not to issue `rollback()` on `close()`.

[2016-03-31 10:12] aaberg commented on #224
Fixed with pull request #225

[2016-03-31 10:12] #224 closed

[2016-04-01 17:19] doganov commented on #205
Generally, the class you should register in `META-INF/services/org.sql2o.converters.ConvertersProvider` is not the converter per se, but another class which implements `org.sql2o.converters.ConvertersProvider`. Something like this:

[code]

Of course, if you want to register only one converter, you could make `OffsetDateTimeConverter` also implement the `ConvertersProvider` interface. Then use it

[2016-04-21 06:19] MartinAfterDark commented on #221
I also get an UnsupportedOperationException when using the .asList() method.

[2016-05-05 13:26] miroslavivanov1988 opened #227 "Provider org.sql2o.quirks.H2QuirksProvider not found"
When I migrated to version 1.6.0-RC1 the problem occurred:

org.sql2o.quirks.QuirksProvider: Provider org.sql2o.quirks.H2QuirksProvider not found
	at java.util.ServiceLoader.fail(ServiceLoader.java:239)
	at java.util.ServiceLoader.access$300(ServiceLoader.java:185)
	at java.util.ServiceLoader$LazyIterator.nextService(ServiceLoader.java:372)
	at java.util.ServiceLoader$LazyIterator.next(ServiceLoad

[2016-05-11 04:30] neilgrover commented on #227
Same issue here. I'm using Postgres.

`Caused by: java.util.ServiceConfigurationError: org.sql2o.quirks.QuirksProvider: Provider org.sql2o.quirks.H2QuirksProvider not found
	at java.util.ServiceLoader.fail(ServiceLoader.java:239) ~[?:1.8.0_51]
	at java.util.ServiceLoader.access$300(ServiceLoader.java:185) ~[?:1.8.0_51]
	at java.util.ServiceLoader$LazyIterator.nextService(ServiceLoader.java:372) ~[

[2016-05-11 15:01] neilgrover commented on #227
When I instruct Sql2o to use the NoQuirks provider, I get errors related to Postgres not supporting "RETURNING". I take it the Postgres no quirks provider has been removed correct?

[2016-05-12 17:31] neilgrover commented on #227
Hey @miroslavivanov1988 I just figured out that Sql2o 1.6 puts the quirks classes into a separate artifact/dependency. I added it to my project and used PostgresQuirks as usual and things are now working.

See: http://mvnrepository.com/artifact/org.sql2o.extensions/sql2o-postgres/1.6.0-RC1

[2016-05-12 18:17] aaberg commented on #227
@miroslavivanov1988 That is an unexpected error when using MySql. Could you provide the code that causes the error?

[2016-05-12 18:25] neilgrover commented on #227
FYI I get the same error ( org.sql2o.quirks.H2QuirksProvider not found ) when using Postgres if I don't specify any Quirks implementation to the Sql2o constructor.

[2016-05-14 04:43] gahissy opened #228 "Query.newResultSetHandlerFactory always using the lowercase columnMappings"
[code]

Instead of
[code]
I think it should be
[code]
to respect the user defined caseSensitive strategy.

[2016-05-16 11:14] aaberg commented on #228
I agree, this must be an error.

[2016-05-16 12:17] #228 closed

[2016-05-16 12:48] #227 closed

[2016-05-16 13:50] aaberg commented on #227
I Have release version 1.6.0-RC2 with a fix for this issue. Could you guys try it out, and check if it fixes the problem for you?

[2016-05-26 12:24] lowkey42 opened #230 "getKey() throws an exception when used with createQuery(sql, columnName)"
The new API for fetching trigger-generated keys from Oracle as described in  #161 doesn't work for me with the current 1.6.0-RC2 release (or the master branch).

When I add the columnName and try to receive the generated values with getKey() an Sql2oException is thrown from line 188 in org.sql2o.Connection with the message "Keys where not fetched from database. Please set the returnGeneratedKeys p

[2016-05-26 15:32] pastrehe commented on #10
@degomon

` <bean id="postgresDS" class="org.apache.commons.dbcp2.BasicDataSource">`<br>`
        <property name="driverClassName" value = "org.postgresql.Driver" />`<br>`
        <property name="url" value ="jdbc:postgresql://host:port/database"/>`<br>`
        <property name="username" value = "user"/>`<br>`
        <property name="password" value = "passwd"/>`<br>`
    </bean>`<br>`
   <bean id

[2016-05-31 18:46] sachin-walia opened #232 "Connection leak reported by HikariCP for try-with-resources"
We have microservices built using Spring Boot and I use sql2o at repository layer. We are using HikariCP as pooling library and I've noticed that after few days HikariCP is not able to borrow connection from pool. It turns out that all connections are exhausted. After enabling leakConnectionThreshold settings in HikariCP it was reported that following construct is not releasing connection. I am at

[2016-06-02 11:23] miroslavivanov1988 commented on #227
It works, thank you!

[2016-06-03 07:27] aaberg commented on #232
This is very stange! Have you been able to reproduce the leak in a test/development environment?

In your `deleteSomething()` method, you use the `conn` object to execute the query, but connection variable is called `con`. I assume this is just a typo when creating the example class?

[2016-06-03 16:21] sachinwalia2k8 commented on #232
@aaberg It is not reproducible always but whenever it is reported it is always reported on this lines. FYI it has been reported in multiple different repository classes but doesn't happen all the time. Also I've updated the variable name to "conn". that was a typo.

For what it's worth I used JMeter to send 100s of thread to the controller that invokes this code and I couldn't reproduce this issue

[2016-06-06 06:37] aaberg commented on #232
Do you get any exceptions or warnings in your logs from sql2o when this is happening?

[2016-06-06 12:57] dimzon commented on #232
2016-06-03 19:21 GMT+03:00 Sachin Walia <notifications@github.com>:

Seem's like racing conditions... Try to reproduce running as multiple
threads as possible...

[2016-06-12 20:36] nikku opened #233 "Failure populating nested, private fields (java.lang.IllegalAccessException)"
In my project setup Sql2o fails to set nested, private fields via [`PojoMetadata#getValueOfProperty`](https://github.com/aaberg/sql2o/blob/sql2o-1.5.4/core/src/main/java/org/sql2o/reflection/PojoMetadata.java#L156):

[code]

Do not know what is exactly going on wrong here because my setup is exactly identical to the one you have put up in [this test case](https://github.com/aaberg/sql2o/blob/sql2o

[2016-06-12 20:40] nikku commented on #233
Ahhhh, sorry for the noise. That seems to be [already fixed](https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/reflection/FieldGetter.java#L18) with the upcoming release.

[2016-06-12 20:40] #233 closed

[2016-06-16 00:54] sachinwalia2k8 commented on #232
This got printed today again. I was using Jboss connection pool previously but Hikari is known to be very efficient at catching leaks so these errors were never produced before. However what is happening that after a weak or so we run out of all connections in the pool.

FYI - sql2o is 1.5.4

**Exception trace:**
[code]

**line #288 as mentioned in the log below if following code:**

`

[2016-06-16 20:34] aaberg commented on #232
Thanks for the information. I will let you know if I figure out what is causing this. Meanwhile, please let me know if you find any reliable way to reproduce the leak.

[2016-06-16 20:45] sachinwalia2k8 commented on #232
sure. will update this issue as soon as I get more info.

[2016-06-17 05:34] ScalaWilliamTeralytics commented on #159
Getting this error here for some reason as well. Would be nice if this were merged.

[2016-06-24 23:38] kshep92 opened #234 "Proposed solution for dealing with joins and nested beans"
Earlier today I needed to map the results of a query to a class that contained a sub-object. To my surprise

`query.addColumnMapping("rating_id", "rating.id")`

Did not work. So instead of going though the arduous task of using a `ResultSetHandler` and doing manual mapping, I created a class that creates an instance of a user-defined class based on the columns and values returned in a query.

Take

[2016-06-27 06:44] aaberg commented on #234
I agree that the `RowSkimmer` seems to be a helpful and handy class to have available for situations as the one you are facing. But I don't think this api should belong as part of the sql2o api. The main reason for me saying this, is that you are effectively introducing a new mapper into the framework, which I don't think is a good idea.

[2016-06-27 11:19] kshep92 commented on #234
Fair enough. Has there been any any progress otherwise on getting joins to work with the current mapper?

[2016-07-27 16:49] Raudius commented on #222
This was issue #177 and was fixed for 1.6.0

http://search.maven.org/#search%7Cga%7C1%7Csql2o

[2016-08-09 08:31] #215 closed

[2016-08-13 00:21] pslacerda opened #242 "try-with-resources on the main website"
I suggest to use try-with-resources on the main website for a fair Java 8 comparission. Something like the following:

[code]

[2016-08-13 23:16] fromgate opened #243 "Compatibility with MySQL JDBC driver v6.0.2"
Hello!
I tried to create test connection to database and got an exception:

[code]

Downgrading to MySQL JDBC driver 5.1.39 solved this problem.

Is Sql2o compatible with MySQL JDBC connector 6.0.2?

[2016-08-14 10:30] aaberg commented on #243
This is an issue with the MySql driver, and not sql2o.
According to [this stackoverflow thrad](http://stackoverflow.com/questions/26515700/mysql-jdbc-driver-5-1-33-time-zone-issue), you might need to explicitly specify timezone in you jdbc url.

[code]

Hope this helps?

[2016-08-14 10:30] #243 closed

[2016-08-14 10:32] aaberg commented on #242
I agree.
The current JDBC example was written targeting java 6, but the sql2o example is targeting java 7/8.

[2016-08-14 10:46] aaberg commented on #232
I experienced a similar problem some days ago. We had a connection leak, even though the sql2o code was enclosed in a try-with-resource block.

After a lot of debugging, I found out that the problem was caused by static variables in a model class... Of some obscure reason, one of our models looked something like this:

[code]

This caused a connection leak. The `close()` method was called as expec

[2016-08-14 20:24] fromgate commented on #243
Thank you for answer.
I will use 5.1.39, until they fix in newer version of JDBC Driver :)

[2016-08-14 21:34] pslacerda commented on #242
Some almost irrelevant bits: why not implements only `AutoCloseable` in [`Connection`](https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/Connection.java#L23), `Sql2oException` isn't a `IOException` and a class that implements both base and derived interfaces is too much at the edge of Java.

[2016-08-29 10:13] met68 opened #244 "Bind UUID into Varchar field of a MySQL table is not working"
I have a simple User model, where the primary key is the id field which is of the UUID data type.

Whenever I try to add a User to the table using the Sql2o bind function, this does not work. The error says that this is an invalid String or something to this effect.

When I change the User id to be a String (using UUID.toString()), then everything works fine, but I really want to use the UUID data

[2016-08-29 10:39] met68 commented on #244
Just found this:

https://github.com/aaberg/sql2o/issues/160

and managed to get it to work, if I first add the id parameter where I cast the id UUID to a string and then bind the rest of the model.

[2016-08-29 10:39] #244 closed

[2016-09-12 09:10] kkrgwbj opened #245 "executeAndFetchTable().asList()"
hi,@aaberg ,i.m very thanks this project.it's very likely and use simple.but there is some simple bugs.I don't know whether you at the time of release for test?
For example: executeAndFetchTable () asList (). This method returns a List<Map>. Below is I modified the bug, the test has been repair the bug:

` public Map<String, Object> asMap() {

[code]

`

hope this project can been updated.i don't

[2016-09-12 09:16] kkrgwbj commented on #221
public Map<String, Object> asMap() {
        Map map = new HashMap();
        Set<String> keys = columnNameToIdxMap.keySet();
        Iterator iterator = keys.iterator();
        while (iterator.hasNext()) {
            String colum = iterator.next().toString();
            System.out.println(colum);
            int index = columnNameToIdxMap.get(colum);
            map.put(colum, values[index]);

[2016-09-12 10:07] biezhi commented on #221
[code]

[2016-09-12 10:09] kkrgwbj commented on #221
@biezhi 你的这个有点复杂了。

[2016-09-13 01:28] kkrgwbj commented on #183
i am agree,pN naming pattern should be removed. It is non-portable and counter-intuitive (also undocumented, AFAIK)

[2016-09-15 19:59] nikku commented on #214
`LocalDate` and `LocalDateTime` seem to not be supported on `TIMESTAMP` columns with sql2o 1.5.x.

[2016-09-17 10:00] kkrgwbj opened #246 "some idea for sql2o"
@aaberg ,hi,I found a new problem in operating database insert or update statement, we tend to be an object by value, there are a lot of property. So when an property is not set value, and the database Settings have default values, inserted into the database error,Would you referd the mybatis insertselective to do like when a property is null, the default value of automatically inserted into the d

[2016-09-26 20:22] DanStout opened #248 "Should Sql2o check JDBC Connection's getAutoCommit() before attempting to rollback?"
Currently in `Connection.java` in the `Connection rollback(boolean closeConnection)` method, `rollback()` is called on the underlying JDBC connection without first checking whether autocommit is enabled.

This means an exception like: `org.postgresql.util.PSQLException: Cannot rollback when autoCommit is enabled.` will be thrown.

I'm not sure how exactly this should be implemented - one way would

[2016-10-04 13:22] pslacerda commented on #160
This problem also happens to me in sql2o-postgres-1.6.0-RC2 using PostgresQuirks. `bind()` bound all parameters again even if manually added before. I have a `Map<String, Object>` in a field and it is handled as hstore but I really mean jsonb. So I added it using `addParameter(String, String)` and expected `bind()` works as the @yngvesl implied.

[2016-10-04 13:49] pslacerda commented on #160
Something like
[code]

at Query.bind() line 373 will work as intended by @yngvesl

https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/Query.java#L373

[2016-10-26 08:58] josecollazzi opened #249 "getKey failing in PostgreSQL 9.5"
postgreSQL 9.5  (1.5.4 and 1.6.0-RC2)

[code]

In version 1.5.4 of sql2o this print "Uruguay", while in 1.6.0-RC2 I get a "syntax error at or near "RETURNING""

 in both cases it it should print "1"

It is working when the table is created with id in the first position

[code]

I have tested in SqlServer and Mysql and it is working properly (I get "1"), I have executed this queries:

[code]

Edite

[2016-10-27 01:09] DanStout commented on #249
Are you using PostgresQuirks? I think that may solve your issue.

Add this maven dependency:

[code]

and instantiate your Sql2o instance like so: `new Sql2o(src, new PostgresQuirks());`

[2016-10-27 10:10] josecollazzi commented on #249
Thank you for your fast response @DanStout, With this changes I still have the same result.

[2016-10-27 12:30] DanStout commented on #249
Hmm.. What is the result if you change your insert SQL to this?
[code]

[2016-10-27 14:52] josecollazzi commented on #249
I have try with that query but I get errors:

String sqlInsert = "INSERT INTO servicesql.\"country\" (\"name\",\"description\") VALUES ('Uruguay','It is a nice country') RETURNING id";

If I execute with returnGeneratedKeys = true
[code]
If I execute with returnGeneratedKeys = false
[code]

[2016-10-27 15:25] DanStout commented on #249
Well, this isn't a perfect solution, but it seems like it would work if you did:

[code]

I'm curious as to whether the problem here is with PostgreSQL's JDBC drivers, or Sql2o. I feel like it's probably the former, but you could verify that by trying to write this without Sql2o. Something like:

[code]

[2016-10-28 10:04] josecollazzi commented on #249
I get these values:

[code]

It is different of what I expect, but it is a work around for my problem.

Thank you @DanStout

[2016-10-28 10:51] josecollazzi commented on #249
It was a bug in the version of postgres driver fix the problem:

Upgraded from:
[code]
        <dependency>
            <groupId>org.postgresql</groupId>
            <artifactId>postgresql</artifactId>
            <version>9.4.1211</version>
        </dependency>
[code]

[2016-11-01 15:05] wotbstars commented on #183
Not supporting positional parameters is a problem for me as well. I want to quickly migrate legacy code written in JDBC way. JDBC queries do not support named parameters and moving code is not a trivial task as every query has to be rewritten and method signatures have to be updated as it used to be Object ... args, not it has to be a parameters map passed what needs an individual handling.

[2016-11-01 17:03] josecollazzi commented on #249
I reopen this issue because even if works using getJdbcConnection, it doesn't work with the library directly.
PostgreSQL return all the fields when is using getGeneratedKeys http://stackoverflow.com/a/19767751

org.sql2o.Connection#setKeys line 182 is adding only the first key

[2016-11-06 00:55] slorion commented on #222
I can confirm that this bug has reappeared.

[2016-11-07 18:41] grimsa commented on #222
Observed this bug in `1.5.4`. Can confirm `1.6.0-RC2` works as expected.

[2016-11-08 17:22] johannz opened #256 "PojoMetadata can't introspect getters correctly"
https://github.com/aaberg/sql2o/blob/master/core/src/main/java/org/sql2o/reflection/PojoMetadata.java

[code]

---

since Getters always have a parameter types length of zero, this method skips parsing the getters.

Since the converter determination logic uses the getter to determine the type converter to use, if you do not have defined fields, they can't be mapped. addColumnMapping doesn't help i

[2016-11-13 20:51] aaberg commented on #256
You are absolutely right. I can see from the comment, that it is supposed to sort out setters that doesn't have exactly one parameter. The code-line is simply misplaced. It should have been further down, where setters are set.

[2016-11-13 21:39] #256 closed

[2016-11-13 22:12] #245 closed

[2016-11-18 08:59] neo7BF opened #257 "Writing error in docs"
Sorry, I do not know if this is the right place.

Here: http://www.sql2o.org/
at section "Plain JDBC" in the cycle on ResultSet the task created it is never added to the list created at the top of section.

[2016-11-23 12:33] DanStout commented on #257
I think you want the [Sql2o website repository](https://github.com/aaberg/sql2o-website).

[2016-11-23 13:16] pabl0rg commented on #147
databases like postgres say what timezone a date is in.  In such cases, it would be much better for the converter to use the database's stated timezone.

[2016-11-23 17:43] neo7BF commented on #257
Ok, Thanks!

[2016-11-23 19:54] aaberg commented on #257
No, actually, this is the right place. The [sql2o website repository](https://github.com/aaberg/sql2o-website) is a new website in progress. The current sql2o website is a little outdated :)

[2016-11-23 20:02] #257 closed

[2016-11-23 20:03] aaberg commented on #257
Fixed now. Thx @neo7BF !

[2016-11-25 20:32] reallinkD opened #258 "Website is broken (no style for /docs/configuration/)"
The page /docs/configuration/ ("Configuration") is completely without any style, probably due to the usage of absolute URLs in the HTML.

[2016-11-25 20:54] aaberg commented on #258
Wow! This was strange!
The base url is referenced through a variable in the page. The variable is declared as ../../ on a template page for all docs pages. This has worked for years! But, apparently, it doesn't anymore...
I had to add the base page variable to all individual docs-pages, then it works again.

The sql2o website is build on [jekyll](https://jekyllrb.com/) hosted by [github pages](htt

[2016-11-25 20:54] #258 closed

[2016-12-10 15:59] toshim45 commented on #206
i think i got the same problem:
`java.lang.IllegalArgumentException: java.lang.ClassCastException@65bcf7c2
	at sun.reflect.GeneratedMethodAccessor25.invoke(Unknown Source)
	at org.sql2o.reflection.MethodAccessorsGenerator$3.setProperty(MethodAccessorsGenerator.java:145)
	at org.sql2o.DefaultResultSetHandlerFactory$6.handle(DefaultResultSetHandlerFactory.java:236)
	at org.sql2o.PojoResultSetIterato

[2016-12-19 04:06] toshim45 opened #259 "Fetch Data Lazily not getting complete data"
Pls help,
I use http://www.sql2o.org/docs/fetching-data-lazy for stream data from database to csv.
Let say I have 400k rows in table X, then I use executeAndFetchLazy, I got the result and unfortunately it less than 400k.
Then I set up for mini table just 5 rows, then I use executeAndFetchLazy, the result is also less than 5.
Then I use executeAndFetch ( http://www.sql2o.org/docs/fetching-data ) a

[2016-12-19 09:00] aaberg commented on #259
Hi @toshim45,

I will try to reproduce the problem. Could you please provide the following information:

- What sql2o version do you use?
- What database and jdbc driver do you use?

Regards
Lars Aaberg

[2016-12-19 09:17] toshim45 commented on #259
Hi @aaberg ,
Thanks for your fast response, cool.
I use sql2o 1.6.0-RC3 & postgresql 9.4-1206-jdbc4 and also I tried hsqldb 2.3.4.

Regards

[2016-12-19 09:21] aaberg commented on #259
Do you have a code-snippet that reproduces the problem with hsqldb?

[2016-12-19 10:23] toshim45 commented on #259
Wait @aaberg if I tried with just simple query it works, I attach the file.
In my case above I did join 2 tables. I'll try to debug, I'll let u know if my code fixed or any exception raised.
[streamToCSVTest.txt](https://github.com/aaberg/sql2o/files/660736/streamToCSVTest.txt)

sorry for troubling u

[2016-12-19 11:09] aaberg commented on #259
Ok, cool. Let me know what you find out.

[2016-12-20 04:02] toshim45 commented on #259
@aaberg sorry, my mistake, the culprit is I call iterator inside for each loop
[code]

Thank you.

[2016-12-20 10:54] aaberg commented on #259
No problem! I'm just happy you solved your problem :)

Regards
Lars Aaberg

[2016-12-20 10:54] #259 closed

[2016-12-24 13:09] lucianbld opened #260 "executeScalar(Class<V> returnType) executes logExecution() twice"
Hello,
I'm using sql2o version 1.6.0-RC3 and i found a problem with executeScalar(returnType).
With a query like this:
[code]
I receive the following debug log:
[code]

The problem is in function executeScalar(Class<V> returnType) with this.logExecution() executed before this.executeScalar(converter); which also contains the same this.logExecution() in function body.
Have a nice day!

[2016-12-25 03:10] ppoffice opened #261 "The parameter inside quotes is not parsed"
When I used the following SQL Server statement:
[code]
and tried to `addParameter("date", date)`, I got a NullPointerException implies that the statement does not have a parameter named `date`.
So I went through the sql2o code and found that in the `DefaultSqlParameterParsingStrategy`, quotes(`QuoteParser`) are parsed before parameters(`ParameterParser`), and the parsed statement is:
[code]
This r

[2016-12-25 09:51] biezhi opened #262 "How to print logs using log4j?"

[2016-12-28 15:39] lucianbld opened #263 "Error in executeUpdate, No value specified for parameter X, when param name is containing isPrivate"
Hello, i think i discovered a bug in **createQuery** function on how named parameters are handled.
I use the sql2o version **1.6.0-RC3**.

I have an object like this:
[code]

And this object is used on a POST resource to add a new reminder. The database table looks like this:

[code]

The posted reminder json object contains only the description, and all boolean values are false (isDone, isPrivate

[2017-01-02 18:42] jsk commented on #159
Workaround: use 'Sql2o(ds, new NoQuirks())', i.e. force Sql2o to use empty quirks and avoid quirks detection.

[2017-01-10 09:07] aaberg commented on #261
Hi, sorry for the late reply!

It is not possible to use parameters within quotes. Everything within quotes is interpreted as strings.

If you want to convert a parameter to a varchar in your query, you could use the [CAST](https://msdn.microsoft.com/en-us/library/ms187928.aspx) transact sql method

But the DATEDIFF method doesn't take a string argument, so you should probably just ditch the quote

[2017-01-10 11:58] ppoffice commented on #261
You are right. Thank you!

[2017-01-10 11:58] #261 closed

[2017-01-11 07:39] #89 closed

[2017-01-20 04:40] helenoalves commented on #186
@felipear89 How do you deal with this ?
I want to map a column for a nested proprty in a class !

Regards

[2017-01-20 14:23] arnaudroger commented on #186
@helenoalves @felipear89 sorry for hijacking that but simpleflatmapper has sql2o support and provide inner object mapping see http://simpleflatmapper.org/0108-getting-started-sql2o.html

[2017-01-22 23:02] GREX-USS commented on #263
The PojoIntrospector that is used to extract the field names from the Reminder object uses the following logic (some lines of the loop are omitted for brevity):

[code]

When isPrivate is processed, this is returned as "private" which is then checked within the parameter map of the Query:

[code]

The parameter map does not perform the same substring, and is expected to match on the field name exa

[2017-01-25 00:49] surya46584 opened #266 "question: next release"
hi,

what is the time plan for releasing next version 1.6.0?? i am currently evaluating if we can use this for our project needs and starting off with latest version would be great. also wiki points to 1.5.0 documentation, is it available for 1.6.0 somewhere?

thanks.

[2017-01-27 07:10] aaberg commented on #266
Hi, there is no time plan for the next release. The code is ready, as there has been very few reported errors on the release candidates. What is still missing, is the documentation. It requires some work to get up to date.
Since this is a free-time project, I cannot promise any time frame. Until the final release, you can use [sql2o 1.6.0-RC3](http://search.maven.org/#artifactdetails%7Corg.sql2o%7

[2017-01-27 07:10] #266 closed

[2017-01-30 13:09] lucianbld commented on #263
I used another name for the field. Thanks!

[2017-01-30 13:09] #263 closed

[2017-01-30 15:24] surya46584 commented on #266
thanks for the update

[2017-02-09 16:54] kafm opened #268 "It's there a way to escape colon (:)?"
I've a query where I need to provide the date format as 'yyyy-MM-dd HH24:MI:SS'.
Sql2o interprets the MI and SS as parameters.
It's there a way to prevent this behaviour ?
I've tried also to escape it with \\: with no success .

[2017-02-14 19:56] bonniec11 opened #269 "I try to run my app that uses sql2o with Java 6 but I keep getting an error NoClassDefFoundError"
I know Autocloseable was introduced in Java 7, but is there a way to make sql2o compatible with java 6? Our Websphere Application Server apps run with java 6

Exception in thread "main" java.lang.NoClassDefFoundError: java.lang.AutoCloseable
	at java.lang.ClassLoader.defineClass(ClassLoader.java:273)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:74)
	at java.net.URLClassLo

[2017-02-22 11:23] debasishdas01 opened #270 "Connection returning different results"
package XXX;

import org.postgresql.PGConnection;

import java.sql.*;

public class NotificationTest {

public static void main(String args[]) throws Exception {
    Class.forName("org.postgresql.Driver");
    String url = "jdbc:postgresql://localhost:5432/TAHITIAN_APP_DB";

//un-comment the next line and comment the line following next. Run to see 2 different results.
// Connection lConn = Driver

[2017-02-22 11:24] debasishdas01 commented on #270
<dependency>
            <groupId>org.sql2o</groupId>
            <artifactId>sql2o</artifactId>
            <version>1.5.4</version>
        </dependency>

[2017-02-22 15:39] debasishdas01 commented on #270
Reported the same issue under HikariCP.
Please see the tests Brettwooldridge and I went through.

https://github.com/brettwooldridge/HikariCP/issues/828

[2017-02-22 17:18] debasishdas01 commented on #270
Finally figured out the issue.
I have hikariConfig.setAutoCommit(false);

[2017-02-22 17:21] #270 closed

[2017-03-07 20:42] jkerak opened #271 "Expose PreparedStatement.setQueryTimeout as a property."
Is is possible to set the query timeout using `PreparedStatement.SetQueryTimeout(int seconds)`? I believe it would need to be set as each `Statement` was created for execution inside `Query.buildPreparedStatement()`. Currently, after a query times out to SQL server, the query stays running on the database, even though the thread that executed the query in the java application has finished. We have

[2017-03-13 22:24] devMls opened #272 "nullpointer exception fech complex object"
Hi, I have this classes:

[code]
[code]

running this query:

[code]

i get this error:
[code]

what is the correct way to do this?

[2017-03-14 16:03] devMls commented on #272
Hi.

After read this:

https://groups.google.com/forum/#!topic/sql2o/eucKt1vVh9o

i achieve this changing the query:

    SELECT nombre, idpais as "pais.idpais"
    FROM usuario
    where idusuario = ?

and deleting the addcolumnMapping. in the post speak about the need of the public atributes, but that is not necessary in 1.6.rc3. Maybe is a problem with my concept of the columnMapping

[2017-03-22 14:29] Ghost93 commented on #199
@thiloplanz I tested your gist with postgres and it worked perfectly, thank you.

[2017-04-06 22:32] dlepex opened #275 "Exclude static fields from mapping."
[code]
In the sample above static *VER* field -- which should not participate in mapping at all -- somehow "overrides" the instance *ver* field => so the instance field is not set and is always ZERO when selecting from DB.

[2017-04-09 18:11] kg29 commented on #271
I am interested in taking this up. Is there a particular way you want it to be implemented?

[2017-04-17 16:04] jkerak commented on #271
@kg29 I'm not sure exactly how it could be done, but it would be nice if it was a property you could set when creating a new `Sql2o` object, at the same time as connection string information. I'd be glad to help as well.

[2017-04-21 03:09] kg29 commented on #271
I have a pull request out for this. https://github.com/aaberg/sql2o/pull/276

[2017-05-04 15:55] twhitbeck opened #277 "Collection/Array parameter values don't go through registered Converter"
I have registered a `Converter<Foo>`, so that when I add a parameter of type `Foo` it gets converted. However, setting a parameter with a `List<Foo>` (using with an `IN (:values)` clause) does not pass each element of the List through the converter as I would have expected.

[2017-05-05 12:04] noseglid commented on #277
This is on master, and I think it's scheduled for `1.6.0`: https://github.com/aaberg/sql2o/pull/210

[2017-05-05 12:16] twhitbeck commented on #277
I think you misunderstand my issue. Array parameters work fine, it's just that they're not being converted

[2017-05-30 14:47] twhitbeck opened #280 "Unexpected behavior with empty array parameter"
I'm making use of Array parameters (#210) and I'm encountering some unexpected behavior with an empty array.

My query is something like

[code]
When I pass an empty array for `otherIds` parameter, I would expect that to get turned into `AND NOT IN ()`, but instead it's turned into `AND NOT IN (null)` which doesn't match any records.

[2017-06-08 21:15] DanStout opened #281 "Access Violation: Sql2o sets field to object of wrong type without warning; crashes JVM"
My PostgreSQL DB table has a field called "committed_at of type "DATE", which I map to a POJO with a field called committedAt of type "LocalDate". I forgot to add the custom converter for this, but I was expecting a warning about not being able to assign the field. Instead, it silently assigned the "java.sql.Date" object to a field of type "java.time.LocalDate", meaning attempts to call methods on

[2017-06-23 11:58] Sharabaddin commented on #243
Use this solve https://gist.github.com/Sharabaddin/9d3ba65785e89624068cc99877a7f2c5

[2017-07-08 16:56] mvysny opened #282 "Please add support for Java8 java.time.LocalDate"
Thank you for your wonderful library, I'm integrating it into my framework (Vaadin on Kotlin) and it works flawlessly. One thing though: if I have a pojo with `java.time.LocalDate`, it seems that it cannot be mapped since reading such pojo from a database will result in

[code]
It seems that the `type` is correctly of type LocalDate, however actual value is `java.sql.Date`. I'm using H2, the datab

[2017-07-08 16:59] mvysny commented on #269
Oracle Java 6 is dead; IBM java 6 will be dead this year. I'm not sure whether there is any merit of supporting such old platform.

[2017-07-08 17:13] mvysny commented on #282
JDBC 4.2 are now required to support `java.time.LocalDate` in `ResultSet.getObject(int columnIndex,
Class<T> type)` so perhaps we can use that to our advantage.

[2017-08-19 14:59] ysdxz207 opened #283 "How to use like match?"
My sql is :
    select * from permission where 1 = 1 and permission_name like '%:permissionName%' ;
I am using 'query.addParameter("permissionName", "select")'.
Error is :
    Failed to add parameter with name 'permissionName'. No parameter with that name is declared in the sql.

[2017-08-19 15:41] ysdxz207 commented on #283
I saw the source found that if I use quote :permissionName will not be replaced with "?".
So how should I write my sql?

[2017-08-21 10:27] zapodot commented on #283
This should work:
SQL: `select * from permission where 1 = 1 and permission_name like :permissionName;`
Java: `query.addParameter("permissionName", "%select%")`

Please report back if you still can't get it to work

[2017-08-21 10:27] #283 closed

[2017-08-21 11:03] zapodot commented on #282
@mvysny You are right about JDBC 4.2! If you are lucky enough to have a updated JDBC driver it works perfectly now as well. At least I had no problem mapping from a H2 DATE field to a LocalDate field using an updated H2 driver.
If your chosen DBMS does not currently have an updated driver or you can't use it for some reason you may implement the org.sql2o.convertes.Converter<T> interface your self

[2017-08-21 11:58] zapodot commented on #282
@mvysny: I have added a page on the Wiki on how to implement and enable a custom datatype Mapper https://github.com/aaberg/sql2o/wiki/Implementing-and-using-custom-converters
Good luck!

[2017-08-21 11:58] #282 closed

[2017-08-21 12:46] mvysny commented on #282
Thanks, that looks good! One question though: How can I add converters to already existing Quirks object, returned by the `QuirksDetector.forURL(hikariConfig.jdbcUrl)` call?

[2017-08-22 06:45] mvysny commented on #282
That worked like a charm, thank you!

[2017-08-22 07:26] ysdxz207 commented on #283
It works!
Thank you very much!

[2017-08-22 13:47] zapodot commented on #275
@dlepex As you can see I have implemented your suggestion. I will leave it to @aaberg to review it.

[2017-08-22 13:54] zapodot commented on #269
Sad to hear that your still stuck with Java 6... Sql2o requires Java 7 to run so I guess you are out of luck :-(
Closing this issue

[2017-08-22 13:54] #269 closed

[2017-08-23 06:25] aaberg commented on #275
Resolved by pr #284

[2017-08-23 06:25] #275 closed

[2017-08-23 17:50] zapodot commented on #280
@twhitbeck I tried to create a testcase to be able to work on this issue. In my testcase using H2 (see 77813272b0195188cab6c4bd82f92bd7143379d6) providing an empty array to addParameter did work as expected. I know this issue is rather old, but could you please provide some more details on this matter so we can explore it further?

[2017-08-25 12:42] liuzhongshu commented on #183
I agree.  Not supporting positional parameters is a problem for me too, I construct my SQL dynamically, positional parameters are more nature.

[2017-09-12 00:53] twhitbeck commented on #280
@zapodot sorry for delayed response. I was working with SQL Server, so maybe it's a difference there. However, I believe I was just using `NoQuirks`.

As I described above, the resultant SQL was `AND NOT IN (null)` instead of `AND NOT IN ()`. Does H2 yield results when executing `AND NOT IN (null)`. Maybe sql server doesn't behave that way. Is that something that could be taken care of with a `SQL

[2017-09-12 00:57] twhitbeck commented on #280
Sorry, just took a closer look at your test case. I think we're expecting different results.

My use case was "select everything except for these". If passing a List<Integer> with 5 entries, I would expect all rows except those 5. That works as expected. However, when passing an _empty_ list, I would expect _all_ rows, not _no_ rows. It looks like your test case expects _no_ rows. This seems wrong

[2017-09-12 20:43] zapodot commented on #280
As Sql20 does not generate SQL in any way I do not think that it can take the responsibility for any kind of interpretation made by specific vendors other than mapping to correct types. In this case I really think you should rewrite your SQL as providing an empty parameter for an NOT IN clause is considered to be an antipattern. One workaround would be to always initialize the array with a value t

[2017-09-12 21:01] twhitbeck commented on #280
I'm not sure if it is an antipattern. Why does Sql2o print `null` for an empty array? Is that an arbitrary choice? It is it due to a limitation in the library?

[2017-09-26 19:13] harshathota1991 commented on #161
Hi, I am getting a ora-01400 cannot insert null into table.

                long actionId = con.createQuery(sql, "ACTION_ID")
				   .addParameter("axisid", axisId)
                        	   .addParameter("condition", condition)
				   .executeUpdate().getKey(long.class);
It says, cannot insert null into the column action_id. But the column is auto incremented and should return the new value.

[2017-09-26 22:16] harshathota1991 commented on #161
Hello Aaberg,

I am facing the same issue as mentioned in https://groups.google.com/forum/#!topic/sql2o/k2LwGdSdsb8. We are using Oracle and it is returning a oracle.sql.ROWID when I call the getKey after the insert. The insert is successful but the generated key being returned is a oracle.sql.ROWID.

I see the latest release is 1.5.4. Is the fix for this as mentioned in the google post discussion

[2017-10-02 21:28] GREX-USS commented on #281
This looks to be related to the change to the setter functionality to use `sun.misc.Unsafe` [commit](https://github.com/aaberg/sql2o/commit/5c5e317561062348b0c20f787a398aacb61d692f). Have you tried to use version 1.5.4 or Jodas Localdate with your existing version?

[2017-10-03 21:19] ianong commented on #146
what is the suggested workaround for this?

[2017-10-03 21:44] amanteaux commented on #146
Actually this issue can be closed: it has been implemented.

You can use the last RC version of sql2o to use this feature.

[2017-10-04 20:31] DanStout commented on #281
It sounds very possible that it was caused by the use of Unsafe. I don't have any interest in using Joda's version of LocalDate, and that isn't really the issue - the issue is that this crashed the JVM instead of throwing a runtime error when it attempted to map a field to an unknown type.

[2017-10-05 08:07] zapodot commented on #146
closing this issue as suggested by @amanteaux

[2017-10-05 08:07] #146 closed

[2017-10-05 08:16] zapodot commented on #262
As SQL20 use SLF4J for logging you must ensure that you have the slf4j-log4j library on your classpath and then adjust log level for the "org.sql2o" logger to "DEBUG" or "TRACE" using [log4j's configuration facility](https://logging.apache.org/log4j/2.x/manual/configuration.html).

[2017-10-05 08:16] #262 closed

[2017-10-21 07:41] Arunkumarvarada commented on #243
Thank you , it helped.
I was using 5.1.6, recently used 6.0.6 of jdbc driver

[2017-11-14 13:40] cleankod opened #287 "Provide @Transactional example in Spring-example docs"
Please provide a way of using the `@Transactional` with Spring.

[2017-12-03 21:01] rookie7799 commented on #232
Hi, we are having the same exact issue.

[2017-12-05 17:06] z3ntu opened #288 "Question"
Hello,
I'm trying to create a small application using sql2o and Spring. Currently I have a `Chat` and a `User` domain class.
[code]
and
[code]
but I noticed that sql2o doesn't automatically fetch the objects/rows for the "User" fields in a Chat (which is kind of expected of such a light library). My question is how to do that (without necessarily changing my domain class). In your example (https:/

[2017-12-11 15:09] z3ntu commented on #288
Now I have a converter:
[code]
and
[code]
which works great.
Now only have a problem when I add another converter I get `Caused by: org.springframework.beans.factory.BeanCurrentlyInCreationException: Error creating bean with name 'getSql2o': Requested bean is currently in creation: Is there an unresolvable circular reference?` which I'm trying to work around...

[2017-12-11 15:50] z3ntu commented on #288
Okay I solved the last issue by adding `@Lazy` next to the `@Autowired` like this:
[code]
now everything is working great as far as I can see.
I have a full example for reference at https://github.com/z3ntu/1718-pos1-weiss/tree/feature/handin-02/src/main/java/at/spengergasse/weiss

Now an example like this is missing for the wiki (either in the **Converters** page or in the **Spring** page) :)

[2017-12-15 04:44] ziqin commented on #126
How is the progress about this feature?

[2017-12-15 04:50] gaoquanbing-ausxin commented on #232
We also have the same issue, connection leak:

2017-12-15 11:31:03 WARN  ~ Connection leak detection triggered for com.mysql.jdbc.JDBC4Connection@5e7cc6c7 on thread http-nio-8080-exec-325, stack trace follows
java.lang.Exception: Apparent connection leak detected
	at com.zaxxer.hikari.HikariDataSource.getConnection(HikariDataSource.java:112)
	at org.hibernate.service.jdbc.connections.internal.Data

[2017-12-15 07:02] aaberg commented on #232
If you have any more information, that can help identify the source of the leak, it would be highly appreciated.

[2017-12-20 18:04] yar1k0v opened #289 "Memory leak in org.sql2o.Connection while keeping it always open"
First of all, I want to say that I really appreciate the job of the maintainers of this library.

I've found out that org.sql2o.Connection keeps all statements in a HashSet if a connection keeps open and that will obviously lead to a mem leak.

Here is an example of how I make a query to a database
`return mConnection.createQuery("select id, name, model, company from cars").executeAndFetch(Car.cla

[2017-12-21 08:08] zapodot commented on #289
Hi @yar1k0v! The Connection object should be considered to be an external resource (like: java.sql.Connection) that indeed should be closed as soon as posible (or handed back to a ConnectionPool). And that is also why both the _org.sql2o.Connection_ class and the _org.sql.Query_ class is AutoClosable. Looking at the source for the Connection class will show that the Statements are closed if it has

[2017-12-21 08:49] dimzon commented on #289
Just use simple universal rule - always close AutoClosable regardless used
library - this keeps your code clean and safe. AutoClosable contract means
you must free object regardless inner implementation (implementation can be
changed)

20 дек. 2017 г. 9:04 PM пользователь "Yaroslav Kovalov" <
notifications@github.com> написал:

[2017-12-21 09:11] #289 closed

[2017-12-21 14:20] dimzon commented on #289
Just remember always check for each object (not only for sql2o but for any
libraries)   does it implement AutoClosable and use try-with-resource. This
simple rule will save your life sometime ;) Same rule for dotNet
(IDisposable interface). Easy to remember, easy to follow...

21 дек. 2017 г. 3:46 PM пользователь "Yaroslav Kovalov" <
notifications@github.com> написал:

[2017-12-21 14:59] yar1k0v commented on #289
@dimzon TY for an advice, as I said I'm familiar with this pattern, but this issue is about an inefficient  cache of statements inside the Connection object. If you keep the connection open, it will cache all the queries you make including parameters.

[2018-01-15 09:42] objectboy2016 opened #290 "Is not no longer updated, 1.6.0-RC3 has now been a long time"
Is not no longer updated, 1.6.0-RC3 has now been a long time

[2018-02-06 14:13] devMls commented on #290
then maybe is a risk adopt this library in new projects?

[2018-02-07 09:40] mbraunerDE commented on #268
Have you tried to pass your date format as paramter like

[code]

I think it should work

[2018-02-07 11:28] aaberg commented on #268
You should always supply parameters as parameters, like @mbraunerDE suggests.
This will also let you supply a date (as a date), instead of as a string, so you don't have to format the date.

[2018-02-07 11:28] #268 closed

[2018-02-07 16:50] kafm commented on #268
Thanks for the replay. It's an old issue... At the time, what I wanted was to be scape de ':' character... I gave the date as example but it can be anything...
In my opinion, I shouldn't have to alter the java code everytime my code requires a parameter with the character ':'

[2018-02-09 15:32] psybox commented on #232
Same problem here.

[2018-02-24 07:25] srbattula commented on #282
I am using Spring Boot Starter JDBC with Sql20. Can you suggest a way to handle this?
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-jdbc</artifactId>
        </dependency>

[2018-02-24 07:53] srbattula commented on #282
This helped me to resolve this problem
https://github.com/aaberg/sql2o/wiki/Implementing-and-using-custom-converters
But it would be nice without having this work arounds by part of the library.

[2018-03-06 08:11] Donaldhan commented on #30
@liwei6797 ，how to solve?

[2018-03-12 17:35] thedarkdestructor opened #293 "DateTimeConverter is not considering timezone in "toDatabaseParam" method"
Dear all,

I have spent quite some time to figure out some strange behavior in sql2o  **DateTimeConverter**.

I have seen that similar issues such as: https://github.com/aaberg/sql2o/issues/169 and https://github.com/aaberg/sql2o/issues/147

Even if those two issues have been fixed there is still a problem in the management of the timezone when a DateTime is provided as a paramenter. The metod **t

[2018-03-12 17:41] thedarkdestructor commented on #290
So, is anyone still working on the project? Developers are looking for help to make it progress somehow?

We are currently using it in several project and maybe we can provide some kind of help for the future...

[2018-03-12 19:10] mbraunerDE commented on #290
+1

We use it still in our projects and want to use it in future. Should anybody fork it and port it to java 8?

[2018-03-19 07:07] thedarkdestructor commented on #293
Can someone provide a feedback for this? Unless I overlooked something in the source code it seems to me quite a big issue...

[2018-03-19 10:05] zapodot commented on #293
Hi! As the DateTimeConverter simply converts from Joda's LocalDateTime to java.sql.Timestamp which in itself does not hold any Timezone. When SQL2o is to set a Timestamp parameter on a PreparedStatement it invokes the "Quirks" implementation (default NoQuirks) which actually invokes the "setTimestamp" method on the PreparedStatement.
At this point, SQL2O does not know which TimeZone should be set.

[2018-03-19 10:05] #293 closed

[2018-03-20 08:58] thedarkdestructor commented on #293
Hi @zapodot thanks for your reply.

I understand that I can extend NoQuirks and then invoke the method setTimestamp that also consider the timezone. This is how I have currently fixed it.

However I believe - correct me if I'm wrong - that that **DateTimeConverter** is **not** behaving correctly. It's behavior is **not symmetric in case of read and write from the database**.

Let's consider this e

[2018-03-20 09:26] zapodot commented on #293
@thedarkdestructor You are probably right, however, that means we can not convert the Joda DateTime instance to Timestamp as this means we will lose the timezone information. This should probably be a lot easier when we move the Java compatibility to Java 8 as the time API is then greatly improved adding both the LocalDateTime and OffsetDateTime types. In your case using OffsetDateTime in your POJ

[2018-03-20 09:32] zapodot commented on #290
I can not speak for @aaberg but I do think the ambition in the short term is to release v. 1.6.0 based on the latest commits in the master branch. @mbraunerDE I do think we should start a 2.0 branch that moves the minimum Java target to Java 8. In addition, to get more contributors would be nice. I will have a chat with the project owner ASAP and see how it can be managed better by the community i

[2018-03-20 09:34] kkrgwbj commented on #290
This project is not expected to be updated. It is recommended that everyone go to JOOQ or jdbi

[2018-03-20 09:35] zapodot commented on #288
@z3ntu feel free to add documentation to the Wiki. That would be great!

[2018-03-20 09:56] zapodot commented on #290
@kkrgwbj I do think you are mistaken but as for any other opensource project it needs an active community to thrive. So we definitely need to build that in some way

[2018-03-20 10:05] thedarkdestructor commented on #293
@zapodot thanks again for your feedback.

I can keep my workaround for now ok. Could this be a fix worth a pull request? I can write a fixed version of **NoQuirks** and **DateTimeConverter** or a decorator for **NoQuirks**.

I'm asking this because me and my company deeply use - and like - sql2o and would like to see progress and evolve in the future. So, instead of temporary workarounds would be

[2018-03-20 11:03] zapodot commented on #293
@thedarkdestructor if you have a good and general solution, then please create a pull request (if you do, please adhere to the [coding guidelines](https://github.com/aaberg/sql2o/wiki/Coding-guidelines). Thank you for using and contributing to Sql2o! 👍

[2018-03-21 14:00] Lumos-Nox opened #294 "No suitable driver found for..."
Hi,
I'm using tomcat and sql2o to develop web application, but sql2o could not load mysql-connector-java-5.1.23-bin.jar in $CATALINA_HOME/lib, only when this jar file was placed in /Library/Java/Extensions/ directory did it work. Besides, using java native library to require a data source also works. Thanks in advance.

[2018-03-21 15:17] klaushauschild1984 commented on #294
Such problems will mostly not caused by the applications and its libraries. In most cases it is a problem at the setup.
So please double and tripple check your setup. Maybe you can provide more details.

[2018-03-23 15:27] Lumos-Nox commented on #294
@klaushauschild1984 Thanks for your comment. Let me make it clearer....

#### Brief preview of my project
The setup of the project needs the following JAR files:
- sql2o-1.5.4.jar
- mysql-connector-java-5.1.23-bin.jar
- HikariCP-2.7.8.jar
- slf4j-api-1.7.25.jar
- ...

#### The first case (Success):
[code]

#### The second case (Success):
[code]

#### The third case (Failed):
[code]

#### The fourt

[2018-03-27 05:52] zapodot commented on #294
@Lumos-Nox I do understand that you have an issue, but it has to do with Tomcat and how third-party libraries are added to it. Please consult the Tomcat Classloading guide at https://tomcat.apache.org/tomcat-9.0-doc/class-loader-howto.html
Having said that, adding libraries to the system Java runtime is generally considered to be a bad idea as it makes your application less portable. Usually, data

[2018-03-27 05:52] #294 closed

[2018-03-27 08:50] thedarkdestructor commented on #293
I have to find the time to write that. I have a good solution but for our internal porting of the library. I have to write it for "plain sql2o". In the meantime my suggestion is to keep this issue open: the bug that I have described above is still there....

[2018-03-28 06:48] zapodot commented on #287
Added example to the Wiki: see https://github.com/aaberg/sql2o/wiki/Integration-with-Spring-Framework

[2018-03-28 06:48] #287 closed

[2018-04-04 09:22] Lumos-Nox opened #295 "Is there a simpler way to insert into table that has many columns?"
I have a table with many columns, and the sql is like:
[code]
Therefore I need to write addParameter statements like:
[code]
For simplicity, I want to rewrite the code like:
[code]
where arrayList is an ArrayList type that stores value0, value2, ..., value255.

Note that I've tried to use bind(), it still requires me to write too many lines of code. The issue "addParameter with a list #146" is sim

[2018-04-04 10:15] zapodot commented on #295
You may use the "withParameters" that allows providing parameters as a variable length array. Parameters are then specified in the SQL string using position indexes (p1, p2 and so on).

For instance:
[code]

[2018-04-04 10:15] #295 closed

[2018-04-04 10:48] avanishnandan opened #296 "Spring @Transactional is not working as expected with Sql2o"
The first transaction gets committed, even though the second transaction failed.

The same code works fine with JdbcTemplate.

Could you please help me to resolve this by using Sql2o

Notice the log message says that data inserted into customer table successfully but exception thrown by H2 database driver clearly says that value is too long for the address column. if you will check the Customer ta

[2018-04-04 11:10] zapodot commented on #296
@avanishnandan: in order to use transactions with sql2o, use the "beginTransaction()" method and remember to commit your transaction in the end.
[code]

[2018-04-04 11:10] #296 closed

[2018-04-04 14:12] Lumos-Nox commented on #295
Appreciate it very much. But I think '.withParameters' should be replaced with '.withParams' in practice. @zapodot

[2018-04-05 12:39] devMls commented on #295
if i remember bind method help:

con.createQuery(sql)
      .bind(object)
        .executeUpdate();

where object fields have the same names that parameters.

[2018-04-19 14:35] hamza-soussou commented on #290
Could we expect a stable 1.6.0 version or the project is dead forever?

[2018-05-11 17:04] Acidcrawl opened #298 "sql2o does a rollback on close even when no transaction is started"
sql2o version: 1.6.0RC4

I have an sql2o doing a simple SELECT query and I noticed my application was throwing an "java.sql.SQLException: could not use local transaction commit in a global transaction" after the SELECT statement was complete.  The application is a J2EE application running within a Glassfish application server using an Oracle XA database connection pool.

I did a little bit of goog

[2018-05-18 13:33] ForgeSeven commented on #271
+1 would also like to see this implemented. An effectively infinite query timeout is occasionally causing our kafka consumer to be rejected from the broker. I believe this setting would allow us to control that.

[2018-06-06 09:20] Ghost93 commented on #290
any updates on this?

[2018-06-14 17:03] goncalvesl opened #299 "setFetchSize on statement must be set on executeAndFetchLazy"
In mysql must be setFetchSize on statement for lazy loading.

https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-reference-implementation-notes.html

[2018-06-14 19:57] sisbr commented on #299
it's still active this project?

[2018-06-26 10:12] prodsey commented on #290
Any updates or progress? Will there be new a release?

[2018-06-26 12:06] sisbr commented on #290
it's still active this project?

[2018-07-01 21:59] maqarg commented on #290
any news????

[2018-07-02 03:16] maqarg commented on #290
Why this project Is stopped?

[2018-07-07 05:58] PaulBrains commented on #243
&serverTimezone=UTC
that's your secret.

[2018-08-06 10:18] hoangtranwork opened #301 "http://www.sql2o.org/ won't be able to open in firefox"
I have to open it in chrome, https related issue.

[2018-09-06 08:11] Magotzis opened #302 "How can I rollback the data when I was testing by JUnit"
I try with @Transaction and @Rollback,but none of them is work.

[2018-09-07 07:26] aaberg commented on #302
Support for @Transaction or @Rollback is not implemented in sql2o. If you want to roll back from a JUnit test, you need to do it manually in your code.

[2018-09-13 15:35] Murilovisque opened #303 "executeUpdate() with binded object does not check column mappings"
I tried execute a insert statement with binded object, I mapped some property to its column, but the error continue (org.sql2o.Sql2oException: Error in executeUpdate, Values not bound to statement). Apparently columns mapping is only used in select statement. Is there some impediment to use it in insert/update too?

`conn.createQuery(INSERT).bind(config).executeUpdate().getKey()`

[2018-09-15 09:54] zsoca8711 commented on #303
Can you post a sample code? I'm quite sure binding works with inserts and updates too. I think we are using that in production code.

[2018-09-17 02:37] Murilovisque commented on #303
Table (SQLite):
`CREATE TABLE config(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    fieldA TEXT,
    field_b TEXT
);`

Model:
`public class Config {

    private String fieldA;
    private String fieldB;
    //Getters and Construtor
}`

Example 1:
`public static void main(String[] args) {
    Sql2o sql2o = new Sql2o("jdbc:sqlite:/tmp/test.db", null, null);
    try (Connection conn = sql2o.open())

[2018-09-17 02:43] Murilovisque commented on #303
Table (SQLite):
[code]

Model:
[code]

Example 1:
[code]
It works, the class's field "fieldA" matches with table's column. But the example 2 does not work.

Example 2:
[code]
I tried to map the column "field_b" to field "fieldB". But it throws the exception bellow.
[code]

[2018-09-20 09:11] fredericoregateiro opened #304 "Convert.registerConverter Deprecated"
The Convert.registerConverter method is Deprecated, what can i use to register custom converters?

Thanks,
Frederico

[2018-09-21 09:12] avijit0907 commented on #243
jdbc:mysql://localhost/db?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC

This will work

[2018-10-18 14:04] fredericoregateiro commented on #304
I cannot find anything on the documentation to point me on the right direction.
Anyone knows how to use custom converters correctly?

[2018-10-19 06:27] zapodot commented on #304
The Sql2o has several constructors that allows you to specify your own Quirks instance that in turn may be used to register custom converters
[code]

[2018-10-19 06:28] #302 closed

[2018-10-19 06:34] mbraunerDE commented on #304
Does this https://github.com/aaberg/sql2o/wiki/Implementing-and-using-custom-converters help you?

[2018-10-19 06:48] zapodot commented on #304
Closing this issue as @fredericoregateiro should now have enough information available to resolve this

[2018-10-19 06:48] #304 closed

[2018-10-19 07:31] zapodot commented on #290
@prodsey you are right,  Sql2o will not be compatible with versions of Java after v. 1.8. To make it compatible with Java 9+ will require a major rewrite. The community is more than welcome to step up and make contributions if you want to see this happen in the future 👍

[2018-10-22 05:39] zapodot commented on #290
Closing this issue as 1.6.0 was finally released this weekend 👍

[2018-10-22 05:39] #290 closed

[2018-10-22 09:02] zapodot commented on #301
Seems to work now

[2018-10-22 09:02] #301 closed

[2018-10-23 16:31] fredericoregateiro opened #305 "Saving Dates"
It is possible to save da Date property like a date on a database instead of a timestamp?
In my class i have:
[code]
and the database i have to use is a existing sqlite3 db, containing the values on the SystemEntryDate column like 2018-10-23 10:16:27.8871829

and the values stored in this column by sql2o is a timestamp like 1540306987843.

Can i change this behavior, and store a date?

[2018-10-29 21:01] MounirBoulwafa commented on #243
thank you very much

[2018-11-02 13:39] ahardworker commented on #249
Whenever we need a returning value, we use executeScalar(ReturnValueType.class). Hope this helps

[2018-11-02 14:07] josecollazzi commented on #249
Hi @ahardworker  the problem was org.sql2o.Connection#setKeys line 182 is adding only the first key, I have fix the problem in in other way. There isn't an

[2018-11-02 14:10] josecollazzi commented on #249
Thanks @ahardworker  The problem is that org.sql2o.Connection#setKeys line 182 is adding only the first key. I returning a list of all keys, not a perfect solution neither. I have fix the problem  in my program in other way, out of the scope of this library.
(sorry I closed by mistake)

[2018-11-02 14:48] ahardworker opened #306 "Using sql2o with JAVA 10 label:question"
Has anyone used this library with JAVA 9 and later?
I know that its using com.sun.reflect.* which have been deprecated starting from JAVA 9.

[2018-11-03 08:34] abforce opened #307 "Executing SQL queries from a file"
It would be nice to have a functionality to read a `.sql` file and execute the entire file in a transaction. This is specially useful for long migration scripts as writing them in Java makes the code too long and a little ugly!

I know that there's two problems for this functionality, 1. the delimiter and 2. query parameters. For (1) if we allow the user to specify the delimiter and we split by th

[2018-11-24 01:04] brilliantcontract opened #309 "XMLTyte with length over 4k"
My code

<pre><code>    class Dao {

        private final Sql2o sql2o;

        public Dao() {
            try {
                Class oracleDriverClass = this.getClass().getClassLoader().loadClass("oracle.jdbc.driver.OracleDriver");
                DriverManager.registerDriver((Driver)oracleDriverClass.newInstance());
            } catch (Throwable t) {
                throw new RuntimeException

[2018-11-24 01:07] brilliantcontract commented on #309
Used database is Oracle.

Installed driver

Due to Oracle license restriction, there are no public repositories that provide ojdbc jar.

[12.2.0.1 - JDBC and UCP Download Page](https://www.oracle.com/technetwork/database/features/jdbc/jdbc-ucp-122-3110062.html)

Now run command in console to install downloaded .jar file into local Maven repository
`mvn install:install-file -Dfile=ojdbc8.jar -Dgrou

[2018-11-24 01:15] brilliantcontract commented on #309
Please give me a hand with that issue.

[2018-11-24 01:30] crysan commented on #232
Same problem here.

[2018-11-24 01:39] brilliantcontract commented on #309
I find out that the issue in Oracle limitation of 4k string length.
I guess I need to create PL function to load string with length over 4k length.

Could anyone advise me how to call PL function from SQL2O library?
Thank you.

[2018-11-24 01:47] crysan opened #310 "Memory leak"
Hi!

When using this code
[code]

There is a big memory leak. In 1 hour the loss reaches 4 GB.
What to do?
Thank!

[2018-12-03 13:32] zapodot commented on #310
Hi! I suppose that this code is running continuously as you have a endless loop in your code:
`while(true)`
It also seems like the `result_` variable is reused during the loop. Is that ever cleaned up? If not that may be the issue here.. Secondly, there is no need to call `con.close()` as you already are using a `try with resources` statement which will close the connection after use.

Without fur

[2018-12-03 21:45] brilliantcontract commented on #309
Hello @zapodot, thank you for answer.
I used below code to upload XMLType data type into Oracle Base.

[code]

The main part of the code that resolve the issue is
[code]

It turned out that Sql2o perfectly works with Oracle XMLType.

[2018-12-03 21:45] #309 closed

[2018-12-04 01:15] crysan commented on #310
Thanks for the answer!

That's right, the program should work endlessly and check the contents of the database.
Redid the program only for this code

[code]
the problem is not solved.
Memory leak remained.

[2018-12-04 06:56] zapodot commented on #310
Have you tried to run some kind of performance leak tool such as
https://www.eclipse.org/mat/ to find out which objects are leaking?

Another thought: why do you first retrieve the results to a list first
using executeAndFetchTable and then iterate that same list. Why not map the
results directly using either a ResultHandler or by creating a POJO? That
would mean that all intermediary objects woul

[2018-12-18 07:57] negste commented on #306
I have used both version 1.5.4 and 1.6.0 in a modular project.
Things to keep in mind are:
* if you have custom converters that you load with the service loader mechanism (file in `META-INF/services`, as per the documentation, see https://github.com/aaberg/sql2o/wiki/Implementing-and-using-custom-converters), that doesn't work anymore: the `org.sql2o.converters.ConvertersProvider` is not read. Ins

[2018-12-31 09:43] zakjar opened #312 "org.sql2o.Sql2oException: Error in executeUpdate, ORA-01000: maximum open cursors exceeded"
I use ConnectionPool - org.apache.tomcat.jdbc.pool.DataSource
My database is Oracle with 300 limit open cursor
And this code finish with ORA-01000 Exception

for ( int i = 0; i < 400; i++ )
        try(Connection con = AbsObject.getOpenedConnection() )   {
            con.createQuery("insert into xxx ( id ) values ( 1 )" ).executeUpdate();
            con.commit();
        }

this code is correct

[2019-01-16 20:00] colesico opened #313 "sql2o and spring transaction integration question"
https://github.com/aaberg/sql2o/wiki/Integration-with-Spring-Framework

Not quite clear how does the sql2o actualy gets the jdbc connection that is binded to the tactive transaction?

As far as I know, in order to get a jdbc connection binded to the active spring transaction, DataSourceUtils.getConnection()
 shoud be used ( instead of directly from data sourcre) or data source wraped to Transactio

[2019-01-21 13:11] mvysny opened #314 "Property type misdetection with Kotlin + default methods"
Thank you very much for your awesome work on Sql2o! I've built a small library on top of sql2o which also handles entity CRUD: the [vok-orm](https://github.com/mvysny/vok-orm).

However, there is a subtle bug in Sql2o which sometimes misdetects the property type. The problem is related to https://github.com/mvysny/vok-orm/issues/8 . The problem is as follows.

I have an interface `Entity<T>` with

[2019-01-21 19:18] mvysny commented on #314
Created a PR: https://github.com/aaberg/sql2o/pull/315

[2019-01-23 15:38] mumitr0ll opened #316 "Cast Exception Problem for MySQL driver 8.X possible"
Using sql2o extensively on Ubuntu 16 and 18 with MySQL . No issues. However, all of the uses there are with mysql-connector-java 5.1.X - the standard for a while.

My colleague has a new Mac and is using the MySQL driver mysql-connector-java 8.0.13. Now the INSERT with sql2o work, but the objects returned from the reading of the just inserted objects fails.  Specifically, the casts are failing for

[2019-01-27 19:14] stapel commented on #314
Maybe it would be better to skip synthetic bridge-methods all together.

Btw., this affects Java as well.

https://docs.oracle.com/javase/tutorial/java/generics/bridgeMethods.html#bridgeMethods

[2019-01-28 06:40] mvysny commented on #314
Thank you, that's an excellent tip! Simply skipping over bridge methods simplifies the patch as well.

[2019-02-09 00:53] icu222much opened #318 "Mapping SQL to Abstract Class"
My project is using the hexagonal architecture and I am wondering if I can use sql2o custom converters (https://github.com/aaberg/sql2o/wiki/Implementing-and-using-custom-converters) to determine which Adapter sql2o should be mapped to.

Would it be possible use sql2o custom converters (https://github.com/aaberg/sql2o/wiki/Implementing-and-using-custom-converters) to map to an abstracted class bas

[2019-02-11 10:41] arnaudroger commented on #318
@icu222much simpleflatmapper supports discriminator and support sql2o, unfortunately right now it's not possible to directly customised the SfmResultSetHandlerFactoryBuilder to add discriminator definition. just added a ticket to allow for that. https://github.com/arnaudroger/SimpleFlatMapper/issues/608

[2019-02-11 17:40] icu222much commented on #318
@arnaudroger Great, thank you.

[2019-02-11 23:15] arnaudroger commented on #318
@icu222much pushed 3.2.0 of sfm-sql2o , I put an example in the release notes
https://simpleflatmapper.org/2019/02/11/v6.3.0.html

[2019-02-12 04:49] icu222much commented on #318
@arnaudroger thank you!

[2019-02-26 00:52] tlamatiniisrael commented on #271
Hi, I've done this, and its set as the setParameter method, since the buildPreparedStatement method, is called when you execute the Query.

[2019-02-26 06:29] mariooooo commented on #232
Same problem here. When i use sql query with **IN**
[code]

[2019-02-28 09:29] daidge opened #319 "executeAndFetch NullPointerException"
members = con.createQuery(sqlFindByIdNumber).addParameter("IdNumber", idnumber).executeAndFetch(Member.class);

java.lang.NullPointerException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect

[2019-02-28 10:37] mbraunerDE commented on #319
Could you please provide the Query and the class please ?

[2019-03-01 01:00] daidge commented on #319
public class Member {
    private String NoBenef;
    private String Name1;
    private String Name2;
    private String Status;

/* Constructor, Getter and Setter
}
------------------------------------------------------------------
 final String sqlFindByIdNumber = "SELECT TOP 1 t1.NoBenef, t1.Name1, t1.Name2, t1.Status " +
 "from table1 t1 inner join table2 t2 on t1.BenefID=t2.BenefID " +
 "wher

[2019-03-01 01:34] #319 closed

[2019-03-18 18:38] wert1y commented on #232
maybe cause of a connection leak i'm experiencing, too. will try to generate a small test case. another detail that might be significant: it seems to be exacerbated by connection failures.

[2019-03-25 12:16] The-Funk opened #320 "Bind vs addParameter"
I can't seem to use .bind(myObj) to update the myObjs table. All of my POJOs data members have the same exact names as their corresponding SQL Server database fields. The POJO I'm using has private data members and public get/set functions.

If I set each parameter individually with .addParameter() this works fine. Can .bind() not access private data members via public getter functions?

None of m

[2019-04-04 00:32] neilgrover commented on #182
I created a merge request for this feature. Please see here:
https://github.com/aaberg/sql2o/pull/321

[2019-04-10 07:08] MarcoSulla opened #322 "parsedQuery in Query should be settable for try-with-resources"
Our company uses Spring Boot 2 with sq2o. We also created a [code generator for sql2o](https://github.com/MarcoSulla/ewa) that creates Spring model, repository and service.
We need to close the query because Oracle reach the max connection open. So currently we have to create a Repository like this:

[code]

and the method with connection is called by Service this way:

[code]

This way the query

[2019-04-10 08:30] MarcoSulla commented on #322
I added a [pull request](https://github.com/aaberg/sql2o/pull/323).

[2019-04-10 09:04] MarcoSulla commented on #202
You have to use the try-with-resources.

[2019-04-11 13:13] diyfr commented on #282
* Java version 8
* Sql2o version 1.6.0
* Sql2o-postgres version 1.6.0
* Postgres JDBC  version 42.2.5 (JDBC 4.2)

Postgres table property 'DATE'
Object with LocalDate property

On Class MethodAcessorsGenerator, Method Setter newSetter
I see
method setDate(java.time.LocalDate)
type= java.time.LocalDate
value = java.sql.Date
-> IllegalArgumentException ClassCastException

No LocalDate Converter foun

[2019-04-11 13:59] srbattula commented on #282
You could use the following snipped to use LocalDate:

public class LocalDateConverter implements Converter<LocalDate> {
    @Override
    public LocalDate convert(final Object val) throws ConverterException {
        if (val instanceof java.sql.Date) {
            return ((java.sql.Date) val).toLocalDate();
        } else {
            return null;
        }
    }

    @Override
    public Object

[2019-04-15 07:51] MarcoSulla commented on #322
For now I circumvented the problem using reflections:

[code]

[code]

Usage:

[code]

and inside `myRepository.insert` I set the sql with `Sql2oUtility.setSqlToQuery(query, sql)`.

[2019-04-21 00:53] MarcoSulla commented on #322
Well, the solution was very simple, and I'm a bit embarassed to didn't think before:

[code]

I close the issue.

[2019-04-21 00:53] #322 closed

[2019-04-30 17:20] harshathota1991 opened #326 "Operation not allowed on execute update with 1.6.0"
I need to use IN clause in a query. We're using version 1.5.4 version of sql2o. When I bind a list of strings to the query, I am getting the below exception
`java.lang.RuntimeException: Error adding parameter 'userids' - Invalid column type
	at org.sql2o.Query.addParameterInternal(Query.java:137)
	at org.sql2o.Query.addParameter(Query.java:173)
	at org.sql2o.Query.addParameter(Query.java:194)`

I

[2019-05-01 16:11] MarcoSulla commented on #188
I don't think sql2o requires setters. In [this SO answer](https://stackoverflow.com/questions/55834168/problems-upgrading-to-java-11-with-inizialize-in-field-declaration#comment98335618_55834168), it's written that it uses `sun.misc.Unsafe`.

[2019-05-01 18:29] MarcoSulla opened #327 "[FEATURE] possibility to set ResultSetHandlerFactoryBuilder globally"
This request is for integration with SMF. Please read [here](https://github.com/arnaudroger/SimpleFlatMapper/issues/650).

[2019-05-01 18:35] MarcoSulla opened #328 "set builder only if null"
In `Query.java`, under `newResultSetHandlerFactory()`, we have

        if(builder==null) builder=new DefaultResultSetHandlerFactoryBuilder();
        builder.setAutoDeriveColumnNames(this.autoDeriveColumnNames);
        builder.setCaseSensitive(this.caseSensitive);
        builder.setColumnMappings(this.getColumnMappings());
        builder.setQuirks(quirks);
        builder.throwOnMappingError(t

[2019-05-02 09:10] MarcoSulla opened #329 "Unsafe does not invoke initializer"
I see that you fixed #123 for constructors. Can also initializer be called? I discussed this in [this SO question](https://stackoverflow.com/q/55834168/1763602).

[2019-05-04 02:16] MarcoSulla commented on #328
Vedi pull #330

[2019-05-04 02:17] MarcoSulla commented on #327
Vedi pull #330

[2019-05-09 15:55] Marco-Sulla opened #331 "Warnings with Java 11, possible future denied operation"
Using sql2o with Java 11, I get this warning:

[2019-05-16 10:53] zapodot commented on #331
Sql2o is not Java 11-compatible. The latest supported release is Java 8. To support Java 11 it will need a major rewrite which for the moment is not planned in the near future

[2019-05-16 10:53] #331 closed

[2019-05-16 18:38] Marco-Sulla commented on #331
Well, I use sql2o it with Java Azul Zulu 11 without problems. I only signaled the warning to inform you about possible future incopatibilities.

[2019-06-26 15:12] plisker-m43 commented on #188
Has anyone successfully used sql2o with [the Immutables library](https://immutables.github.io/)?

[2019-06-26 19:11] Marco-Sulla commented on #188
Anyway I think it's useless to create a model without setters. On the contrary, it could be useful: you could use models also for doing queries.

For example, my little code creator for sql2o, [EWA](https://marco-sulla.github.io/ewa/), creates a method in the Repository that find rows from a table searching for the not null parameters of a passed model. And it has a similar method for deleting row

[2019-07-25 13:37] mimarko commented on #146
Still not working for list of String , right ?

[2019-07-29 18:24] gphendry opened #332 "ORDER BY does not work with addParameter"
Currently using query.addParameter to specify custom parameters in an ORDER BY clause does not work properly.

In a query like:
[code]
When calling addParameter to substitute a custom value for `:order` the custom value is completely ignored and treated as blank.

The only way to pass custom ORDER BY parameters currently is to manually concatenate them into the original query string like so:
[code

[2019-10-04 10:30] ashwanisingh1 opened #333 "Remove case sensitive converter"
In Boolean converter single character made case sensitive

[2019-11-03 17:52] LinggaAskaEdo opened #335 "Column mappings failed"
Based on this docs: https://github.com/aaberg/sql2o/wiki/Column-mappings

1. Failed mapping when SELECT

Old query: **SELECT created_date createdDate, user_id userId, phone FROM mob_user WHERE userId = :userIdParam**
Exception: **Database error: ORA-00904: "USERID": invalid identifier**

But its success when query like this:
New query: SELECT created_date createdDate, user_id userId, phone FROM mo

[2019-12-04 17:07] rdigiorgio opened #336 "Issue with ArrayParameters.updateQueryWithArrayParameters when query contains '?' character"
Given the following Sql2o query:

When building the prepared statement, Sql2o calls static method `ArrayParameters.updateQueryWithArrayParameters` after having replaced named parameters by '?' characters.

Lets say I set 2 values in my `bar` named parameters, we will call the static method with parameters:
 - parsedQuery

 - arrayParametersSortedAsc

As the method iterates through the parsed query

[2019-12-05 07:33] rdigiorgio commented on #336
As a workaround, I just join my array items with Guava:
[code]

[2019-12-16 18:04] skradel commented on #332
SQL/JDBC don't work this way and this has nothing to do with sql2o -- for example, you also cannot pass table/view/schema/column identifiers in as parameters.

[2019-12-16 21:41] aaberg commented on #332
Hi,

That is not a problem with sql2o, but the database server not supporting
parameters as part of the ORDER BY clause

Regards
Lars Aaberg

man. 29. jul. 2019, 20:24 skrev Graham Hendry <notifications@github.com>:

[2020-02-13 07:09] Jeredriq opened #337 "When in jar file I receive No suitable driver for error"
I'm embedding all dependencies with jar-with-dependencies file from pom. I use mysql-connector-java:8.0.15 as dependency for driver. All works great in IDE (IntelliJ) but when I make a jar it gives the error when I'm running the jar file org.sql2o.Sql2oException: Could not acquire a connection from DataSource - No suitable driver found for jdbc.

[2020-02-14 10:15] #337 closed

[2020-02-14 10:15] Jeredriq commented on #337
A simple `Class.forName("com.mysql.jdbc.Driver");` solved the issue

[2020-04-08 11:36] mbraunerDE commented on #177
For all who working with column Mappings

[code]

[2020-05-07 03:12] tstrohmeier commented on #248
I think this still exists. Currently I use the following workaround:
[code]

The problem ist if I do not set `con.getJdbcConnection().setAutoCommit(false);` then commit fails cause autoCommit already triggered a commit, but I also get an Exception when the connection is closed and rolled back.

[2020-08-04 05:33] elit69 commented on #146
change version to 1.6.0

[2020-09-18 21:44] strogiyotec commented on #335
@LinggaAskaEdo could you extend your context , how your table looks like, how do you execute queries above, what database do you use

[2020-09-23 11:29] aalmiray opened #339 "Publish version 1.6.0 of oracle extensions"
I noticed that the `sql2o-oracle` and `sql2o-oracle-joda-time` artifacts were last published in 2016 with version `1.6.0-RC3`.

https://search.maven.org/search?q=sql2o-oracle

The main Sql2o artifact and other extensions have version `1.6.0` available in Maven Central. Would it be possible to release version `1.6.0` of the Oracle extensions?

[2020-10-28 08:16] mailtous opened #342 "sql2o can't rolback ?"
The "connection.rollback()" has execute,But data still updated.
EG :
[code]

[2020-10-28 08:52] mbraunerDE commented on #342
Hey @mailtous ,

the `connection.commit();` writes all data to database, only all changes until last commit can be rollbacked.

e.g.

[code]

[2020-10-28 12:07] ICHx commented on #320
I think I have the problem that, my POJO does not work with bind properly. I have setters and getters matching the POJO field names, and the :fields, and when the attributes are set to private, it just gives sql null values.

[2020-11-02 07:41] mailtous commented on #342
@mbraunerDE
Thanks your answer~!  BUT...

[code]

** TEST TWO: **

[code]

[2020-11-02 10:22] mbraunerDE commented on #342
Hey,

you added a second `commit()`, so there the data will be saved and cannot be rollbacked ...

I recommend you this blog entry https://www.journaldev.com/23932/sql-commit-sql-rollback

[2020-12-08 11:25] renzhonglu11 opened #343 "can i change the Type of return value of executeAndFetch()"
i saved a json string in one of column of database and when i fetch data from database using executeAndFetch().sql2o turns it automatically into an object. i forced it to be String, but it didnt work
[code]

[2020-12-08 14:37] #343 closed

[2020-12-09 02:35] hteppl commented on #329
why you delete question?

[2020-12-09 10:14] Marco-Sulla commented on #329
I do not deleted it. It got one downvote for obscure reasons and auto-deleted :)

[2020-12-14 15:43] dirkluijk commented on #287
It does not work as expected. I see a lot of complaints about this in this repository. I think it should not be documented.

[2020-12-14 15:52] dirkluijk commented on #313
It looks like it is not working either.

[2020-12-19 20:50] The-Funk opened #344 "State of the Project"
Is sql2o still actively being supported and maintained? Are there any plans to turn over maintenance of the project to new hands if not? I'd like to volunteer to help.

[2020-12-25 21:49] danuvian opened #345 "NPE when return query object is of type Map"
In the query example shown on your website, a query is made and then the result returned as a List of Customer objects (List<Customer>). This necessitates the creation of the model object, Customer.

What if someone does not want to create the model object? Is it possible to use a Map as the return model object? The map key would contain the column name ("id" / "name" / "address"), with the key's

[2021-01-08 12:58] iamhook opened #346 "To to correctly insert with array (ex bigint[]) columns?"
In my case, I have a class Product and table product:
[code]
[code]

There is a problem with `categories` field.

I want to insert `Product` object to database.
Running
[code]
I get `org.sql2o.Sql2oException: Error in executeUpdate, ERROR: INSERT has more expressions than target columns`, because the final query looks like `insert into delivery.product (title, cost, categories) values (?, ?, ?,?)

[2021-01-26 01:18] tomgit2016 commented on #177
It works. Thanks!

[2021-02-26 18:27] vertex-github opened #347 "Library uses now-private reflection mechanism"
`MethodAccessorsGenerator` uses a series of now-hidden, potentially soon-to-be-removed APIs in `sun.reflect` (these were moved into `jdk,.internal.reflect` and are no longer accessible in JDK11+.

Is there an alternative to these classes (I Googled for replacements but found surprisingly nothing on this).  I'm assuming this code is used by the row/object mapping when retrieving results from the DB

[2021-03-12 08:51] GlenGGG opened #348 "Can't add ON DELETE CASCADE to forein key when creating table, using PostgreSQL."
I am trying to use sql2o to create a table with a foreign key and add ON DELETE CASCADE to the foreign key. Here is the code to create the parent table, posts:
[code]

Here is the code to create the child table, images:

[code]

When I only run the code that creates the parent table, posts, it works fine. When I run the code that creates the child table, images, it shows errors:

[code]

When I re

[2021-03-12 08:57] GlenGGG commented on #348
Never mind, I fixed it using PostgresQuirks.

[2021-03-12 08:57] #348 closed

[2021-09-03 14:46] mumitr0ll opened #350 "Updated MySQL 8.0.26 connector breaks historically working code"
Spring Boot starter from summer 2021 uses the connector: mysql-connector-java-8.0.26.jar. This DOES NOT work with historical code. However, overriding the Spring Boot and using the previous version 8.0.16 does work with sql2o.

There is something about the latest that is not working, and it is unclear if the problem is with Oracle's connector or with the sql2o codebase. But with 8.0.26 there are t

[2021-10-11 07:20] artelk opened #351 "Next release"
Why not create a new release 1.6.1 with recent fixes so it will be seen the project is alive? 😃

[2021-12-08 17:28] asolntsev commented on #281
@DanStout did you find any solution?
I created PR https://github.com/aaberg/sql2o/pull/352 that should fix this problem.

[2022-01-26 15:15] jehrenzweig-leagueapps commented on #351
As far as I can tell, this project is dead in the water right now.  The repository's owner (@aaberg) has been focused on other activities for the past few years -- consulting, from the looks of it.  Unit tests have been broken for the last ~3yrs.  There are currently 28 open pull requests.  It's unlikely that any of this will change, unless there's enough interest in this project to fork it & work

[2022-07-24 14:21] Ghost93 commented on #199
Has anyone managed to use @thiloplanz 's gist on version 1.6 and got it to work? Thanks.

[2022-09-19 13:03] paul-heipl opened #357 "MethodSetter setProperty failing with i"

[2022-09-19 13:09] paul-heipl commented on #357
The method simply eats the exception without offering any feedback.

Scenario, you make an incorrect column mapping class, let's say that you use `java.util.Instant` instead of `java.sql.timestamp`.

Then you do a simple select

[code]

This eventually goes to: `org.sql2o.reflection.MethodSetter#setProperty(Object obj, Object value)`

Here, the try catch only cares about `IllegalAccessException` a

[2022-09-25 02:32] typelean commented on #202
I just reproduced this issue on my code, testing sql2o for the first time.  I found that the Quarkus Agroal connection pooling is showing leak detection warnings (and I trust it from my own experiences writing a Jdbc layer).
Agroal shows this warning:  Datasource '<default>': JDBC resources leaked: 2 ResultSet(s) and 2 Statement(s)

The issue only happens with transactions (sql2o.beginTransaction(

[2022-11-24 01:29] davidlzs opened #358 "Failed test testAllTypes(org.sql2o.reflect.ReflectionFieldSetterFactoryTest) only in Maven"
When running maven test, got the following error, the error is caused by JCoCo synthetic fields, like `$jacocoData`, please refer to JCoco issue: https://github.com/jacoco/jacoco/issues/168

BTW, running the same test from IDE (IntelliJ), there is no problem.

`testAllTypes(org.sql2o.reflect.ReflectionFieldSetterFactoryTest)  Time elapsed: 0.016 sec  <<< FAILURE!
junit.framework.AssertionFailedErr

[2022-11-24 02:12] davidlzs commented on #358
@aaberg, I created a PR to filter out the synthetic fields from the test. https://github.com/aaberg/sql2o/pull/359

[2022-11-25 21:06] davidlzs commented on #350
[MySQL JDBC driver (Connector/J) 8.0.23 contains an Important Change](https://dev.mysql.com/doc/relnotes/connector-j/8.0/en/news-8-0-23.html):

We ran into this error by upgrading the MySQL JDBC driver to 8.0.22+
`Caused by: org.sql2o.converters.ConverterException: Cannot convert type class java.time.LocalDateTime to java.util.Date
	at org.sql2o.converters.AbstractDateConverter.convert(AbstractDat

[2022-11-25 23:11] davidlzs commented on #350
I created the PR https://github.com/aaberg/sql2o/pull/359, which is addressed the Important Change in [MySQL JDBC driver (Connector/J) 8.0.23 contains an Important Change](https://dev.mysql.com/doc/relnotes/connector-j/8.0/en/news-8-0-23.html)